
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="routesCreateForm" ng-submit="create(cronjob)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="cronjob.name" aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp">Name of the cronjob must match the following regexp <code>[A-z0-9\-\_]{3,64}</code></span>
        </div>
        <div class="form-group">
            <label for="cron">Cron:</label>
            <input type="text" id="cron" ng-model="cronjob.cron" aria-describedby="cronHelp" class="form-control">
            <span class="help-block" id="cronHelp"><a href="https://wikipedia.org/wiki/Cron">Cron expression</a> i.e. <code>0 0 * * *</code> to execute the action every day</span>
        </div>
        <div class="form-group">
            <label>Action:</label>
            <div class="row">
                <div class="col-md-11">
                    <select class="form-control" ng-model="cronjob.action" ng-options="action.id as action.name for action in actions" aria-describedby="actionHelp">
                        <option value="">No action</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <a ng-if="cronjob.action > 1" ng-click="showAction(cronjob.action)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                    <a ng-if="!(cronjob.action > 1)" ng-disabled="true" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                </div>
            </div>
            <span class="help-block" id="actionHelp">The action which gets executed</span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
