
<h1>Cronjob</h1>

<div class="fusio-search">
    <form name="scopesSearchForm" ng-submit="doSearch(search)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search" placeholder="Search i.e. cronjob-name" />
            <div class="input-group-btn">
                <a class="btn btn-primary fusio-btn-create" ng-click="openCreateDialog()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </div>
            <div class="input-group-btn">
                <a class="btn btn-default" ng-click="help.showDialog('api/cronjob')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
        </div>
    </form>
</div>

<div uib-alert class="alert-success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</div>

<div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</div>

<div class="fusio-grid">
    <table class="table">
    <colgroup>
        <col width="*" />
        <col width="300" />
        <col width="100" />
        <col width="150" />
        <col width="100" />
    </colgroup>
    <thead>
    <tr>
        <th>Name</th>
        <th>Cron</th>
        <th>Exit code</th>
        <th>Last execution</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="cronjob in cronjobs">
        <td>{{cronjob.name}}</td>
        <td>{{cronjob.cron}}</td>
        <td>
            <a ng-if="cronjob.exitCode == 0"><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span></a>
            <a ng-if="cronjob.exitCode == 1" ng-click="openErrorDialog(cronjob)" style="cursor:pointer"><span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span></a>
        </td>
        <td>{{cronjob.executeDate | date: 'short'}}</td>
        <td>
            <div class="fusio-options">
                <a ng-click="openUpdateDialog(cronjob)" class="btn btn-default fusio-btn-update"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <a ng-click="openDeleteDialog(cronjob)" class="btn btn-default fusio-btn-delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<ul uib-pagination total-items="totalResults" items-per-page="16" ng-model="startIndex" ng-change="pageChanged()" max-size="10"></ul>
