
<h1>Trash</h1>

<fusio-message [response]="response()"></fusio-message>

<div class="fusio-search">
  <form (submit)="doSearch()">
    <div class="row">
      <div class="col-2">
        <select name="statistic" [ngModel]="type()" (ngModelChange)="selectType($event)" class="form-select">
          @for (type of types(); track $index) {
            <option [ngValue]="type">{{type}}</option>
          }
        </select>
      </div>
      <div class="col-10">
        <div class="input-group">
          <input type="text" class="form-control" name="search" [ngModel]="search()" (ngModelChange)="search.set($event);doSearch()" placeholder="Search i.e. type" />
          <button type="button" (click)="showHelp('system/trash')" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="card">
  <div class="card-header">Trash</div>
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
      @for (row of entries(); track $index) {
        <tr>
          <td>{{row.name}}</td>
          <td><button (click)="doRestore(row)" type="button" class="btn btn-primary float-end"><i class="bi bi-arrow-clockwise"></i></button></td>
        </tr>
      }
      </tbody>
    </table>
    <ngb-pagination
      [page]="page()"
      [pageSize]="pageSize()"
      [collectionSize]="totalResults()"
      (pageChange)="page.set($event);doSearch()"></ngb-pagination>
  </div>
</div>
