
<h1>Settings</h1>

<app-message [response]="response"></app-message>

<div class="fusio-search">
  <form (submit)="doSearch()">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search i.e. settings" />
      <button type="button" (click)="showHelp('system/settings')" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">Settings</div>
      <div class="card-body">
        <div class="fusio-sub-navigation">
          <ul>
            <li *ngFor="let row of entries">
              <a routerLink="/config/{{row.id}}" [queryParams]="this.getQueryParams()" title="{{row.name}}">
                <b *ngIf="selected?.id === row.id">{{row.name}}</b>
                <span *ngIf="selected?.id !== row.id">{{row.name}}</span>
              </a>
            </li>
          </ul>
        </div>
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="totalResults"
          (pageChange)="doSearch()"></ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <app-empty *ngIf="!selected" [loading]="loading"></app-empty>
    <div class="card" *ngIf="selected">
      <div class="card-header">{{selected?.name}}</div>
      <div class="card-body">
        <div class="btn-group" role="group">
          <button type="button" (click)="openUpdateDialog()" class="btn btn-primary fusio-btn-update">Update</button>
        </div>
        <div class="fusio-detail">
          <div class="row">
            <div class="col-2 fw-bold">Type</div>
            <div class="col-10">
              <span *ngIf="selected?.type === 1" class="badge bg-success">String</span>
              <span *ngIf="selected?.type === 2" class="badge bg-success">Boolean</span>
              <span *ngIf="selected?.type === 3" class="badge bg-success">Number</span>
              <span *ngIf="selected?.type === 4" class="badge bg-success">Date-Time</span>
              <span *ngIf="selected?.type === 5" class="badge bg-success">Email</span>
              <span *ngIf="selected?.type === 6" class="badge bg-success">Text</span>
              <span *ngIf="selected?.type === 7" class="badge bg-success">Secret</span>
            </div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Name</div>
            <div class="col-10">{{selected?.name}}</div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Description</div>
            <div class="col-10">{{selected?.description}}</div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Value</div>
            <div class="col-10">{{selected?.value}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
