
<div class="modal-header">
  <h4 class="modal-title">
    <ng-container *ngIf="mode === 1">Create</ng-container>
    <ng-container *ngIf="mode === 2">Update</ng-container>
    <ng-container *ngIf="mode === 3">Delete</ng-container>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <app-message [response]="response"></app-message>
  <form>
    <div class="mb-3 row">
      <label for="status" class="col-sm-2 col-form-label fw-bold">Status</label>
      <div class="col-sm-10">
        <div class="input-group">
          <select id="status" name="status" [(ngModel)]="entity.status" class="form-select">
            <option *ngFor="let status of status" [ngValue]="status.key">{{status.value}}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="statusHelp"><i class="bi bi-question"></i></button>
          <ng-template #statusHelp></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="name" name="name" [(ngModel)]="entity.name" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
          <ng-template #nameHelp>Name of the action must match the following regexp <code>[A-z0-9\-\_]3,64</code></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="url" class="col-sm-2 col-form-label fw-bold">Url</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="url" id="url" name="url" [(ngModel)]="entity.url" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="urlHelp"><i class="bi bi-question"></i></button>
          <ng-template #urlHelp></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="user" class="col-sm-2 col-form-label fw-bold">User</label>
      <div class="col-sm-10">
        <div class="input-group">
          <select id="user" name="user" [(ngModel)]="entity.userId" class="form-select">
            <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="userHelp"><i class="bi bi-question"></i></button>
          <ng-template #userHelp></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="parameters" class="col-sm-2 col-form-label fw-bold">Parameters</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="parameters" name="parameters" [(ngModel)]="entity.parameters" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="parametersHelp"><i class="bi bi-question"></i></button>
          <ng-template #parametersHelp></ng-template>
        </div>
      </div>
    </div>
    <app-scope-categories [scopes]="entity.scopes" (dataChange)="entity.scopes = $event"></app-scope-categories>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="submit()">Create</button></ng-container>
  <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="submit()">Update</button></ng-container>
  <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="submit()">Delete</button></ng-container>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
