
<h1>App</h1>

<fusio-message [response]="response()"></fusio-message>

<fusio-search
  [searchTerm]="search()"
  (search)="doSearch(1, $event)"
  (newClick)="doNew()"
  placeholder="app"
  helpPath="consumer/app/">
</fusio-search>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width:50%">Name</th>
    <th style="width:50%">App-Key</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @for (entry of entries(); track entry.id) {
    <tr>
      <td>{{entry.name}}</td>
      <td>{{entry.appKey}}</td>
      <td>
        <app-list-buttons
          (onDetail)="doDetail(entry.id)"
          (onEdit)="doEdit(entry.id)"
          (onDelete)="doDelete(entry.id)"
        >
        </app-list-buttons>
      </td>
    </tr>
  }
  </tbody>
</table>
<ngb-pagination
  [page]="page()"
  [pageSize]="pageSize()"
  [collectionSize]="totalResults()"
  [maxSize]="4"
  [ellipses]="false"
  (pageChange)="doSearch($event, search())"></ngb-pagination>
