
<h1>Token</h1>

<app-message [response]="response"></app-message>

<div class="fusio-search">
  <form name="actionSearchForm" (submit)="doSearch()">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search i.e. scope" />
      <button type="button" (click)="showHelp('api/cronjob')" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
    </div>
  </form>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Status</th>
    <th>Scope</th>
    <th>IP</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of entries">
    <td>{{entry.id}}</td>
    <td><span *ngFor="let scope of entry.scope?.slice(0, 3)" class="badge bg-primary">{{scope}}</span></td>
    <td>{{entry.ip}}</td>
    <td>{{entry.date|date:'short'}}</td>
    <td>
      <div class="btn-group float-end">
        <button type="button" (click)="openUpdateDialog()" class="btn btn-primary fusio-btn-update"><i class="bi bi-search"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="totalResults"
  (pageChange)="doSearch()"></ngb-pagination>
