
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="pageCreateForm" ng-submit="create(page)">
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" class="form-control" ng-model="page.status" ng-options="status.key as status.value for status in statuuus" aria-describedby="statusHelp">
            </select>
            <span class="help-block" id="statusHelp">Status of the page</span>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" ng-model="page.title" aria-describedby="titleHelp" class="form-control">
            <span class="help-block" id="titleHelp">Title of the page</span>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <div ui-ace="{mode: 'html'}" id="content" ng-model="page.content" aria-describedby="contentHelp"></div>
            <span class="help-block" id="contentHelp">Contains the HTML content of the page.</span>
        </div>

        <button type="submit" class="btn btn-primary fusio-btn-save">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default fusio-btn-cancel">Cancel</button>
    </form>
</div>
