
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="planCreateForm" ng-submit="create(plan)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="plan.name" aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp">Name of the plan</span>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" id="description" ng-model="plan.description" rows="3" aria-describedby="descriptionHelp" class="form-control"></textarea>
            <span class="help-block" id="descriptionHelp">Detailed description of this plan</span>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" ng-model="plan.price" aria-describedby="priceHelp" min="1" step="any" class="form-control">
            <span class="help-block" id="priceHelp">The price how much this plan costs</span>
        </div>
        <div class="form-group">
            <label for="points">Points:</label>
            <input type="number" id="points" ng-model="plan.points" aria-describedby="pointsHelp" class="form-control">
            <span class="help-block" id="pointsHelp">The amount of points a user receives if he buys this plan</span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
