
<h1>Schema</h1>

<div class="fusio-search">
    <form name="schemasSearchForm" ng-submit="doSearch(search)">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search i.e. schema-name" />
                    <div class="input-group-btn">
                        <a class="btn btn-primary fusio-btn-create" ng-click="openCreateDialog()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </div>
                    <div class="input-group-btn">
                        <a class="btn btn-default" ng-click="help.showDialog('help/schema.md')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div uib-alert class="alert-success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</div>

<div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</div>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Schema</div>
            <div class="panel-body">
                <div class="fusio-route-navigation">
                    <ul>
                        <li ng-repeat="row in schemas">
                            <a ng-href="#!/schema/{{row.id}}" title="{{row.name}}">
                                <b ng-if="schema.name == row.name">{{row.name}}</b>
                                <span ng-if="schema.name != row.name">{{row.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul uib-pager total-items="totalResults" items-per-page="16" ng-model="startIndex" ng-change="pageChanged()" max-size="10"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">{{schema.name}}</div>
            <div class="panel-body">
                <div class="btn-group" role="group">
                    <button type="button" ng-click="openUpdateDialog(schema)" class="btn btn-primary fusio-btn-update">Edit</button>
                    <button type="button" ng-click="openUIDialog(schema)" class="btn btn-default fusio-btn-ui">UI-Schema</button>
                    <button type="button" ng-click="openDeleteDialog(schema)" class="btn btn-danger fusio-btn-delete">Delete</button>
                </div>
                <br><br>
                <div ng-if="schema" ng-bind-html="schema.preview"></div>
            </div>
        </div>
    </div>
</div>
