
<h1>Audit</h1>

<app-message [response]="response"></app-message>

<div class="fusio-search">
  <form (submit)="doSearch(1, searchTerm)">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="searchTerm" placeholder="Search i.e. log" />
      <button type="button" (click)="showHelp('analytics/log')" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2">
    <app-sidebar
      name="log"
      nameKey="path"
      [entries]="entries"
      [totalResults]="totalResults"
      [selected]="selected"
      [page]="page"
      [pageSize]="pageSize"
      (pageChange)="doSearch($event, search)"
      (entrySelect)="doSelect($event)">
    </app-sidebar>
  </div>
  <div class="col-md-10">
    <app-empty *ngIf="!selected" [loading]="loading"></app-empty>
    <app-log-detail *ngIf="selected"
      [selected]="selected">
    </app-log-detail>
  </div>
</div>
