
<h1>Log</h1>

<fusio-search
  [searchTerm]="search"
  (search)="doSearch(1, $event)"
  placeholder="log"
  helpPath="analytics/log/">
</fusio-search>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width:50px">Method</th>
    <th style="width:70%">Path</th>
    <th style="width:30%">IP</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of entries">
    <td><span class="badge text-bg-dark fusio-operation-http-method">{{entry.method}}</span></td>
    <td><code class="fusio-operation-http-path">{{entry.path}}</code></td>
    <td>{{entry.ip}}</td>
    <td>
      <div class="btn-group" role="group">
        <a [routerLink]="getDetailLink(entry.id)" class="btn btn-primary"><i class="bi bi-search"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="totalResults"
  [maxSize]="4"
  [ellipses]="false"
  (pageChange)="doSearch($event)"></ngb-pagination>
