
<div class="modal-header">
  <h4 class="modal-title">
    <ng-container *ngIf="mode === 1">Create</ng-container>
    <ng-container *ngIf="mode === 2">Update</ng-container>
    <ng-container *ngIf="mode === 3">Delete</ng-container>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <fusio-message [response]="response"></fusio-message>
  <form *ngIf="entity.config">
    <div class="mb-3 row">
      <label for="uriFragments" class="col-sm-2 col-form-label fw-bold">URI Fragments</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="uriFragments" name="uriFragments" [(ngModel)]="entity.config.uriFragments" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="uriFragmentsHelp"><i class="bi bi-question"></i></button>
          <ng-template #uriFragmentsHelp>Optional the available uri fragments i.e. <code>news_id=10&count=10</code></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="parameters" class="col-sm-2 col-form-label fw-bold">Parameters</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="parameters" name="parameters" [(ngModel)]="entity.config.parameters" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="parametersHelp"><i class="bi bi-question"></i></button>
          <ng-template #parametersHelp>Optional the available parameters i.e. <code>count=10&completed=true</code></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="headers" class="col-sm-2 col-form-label fw-bold">Headers</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="headers" name="headers" [(ngModel)]="entity.config.headers" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="headersHelp"><i class="bi bi-question"></i></button>
          <ng-template #headersHelp>Optional request headers i.e. <code>Content-Type=application/json</code></ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="headers" class="col-sm-2 col-form-label fw-bold">Body</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div style="width:100%;height:300px;border:1px solid #ced4da">
            <ngx-monaco-editor style="height:100%" name="body" [options]="{theme: 'vs-light', language: 'json'}" [(ngModel)]="body"></ngx-monaco-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="headers" class="col-sm-2 col-form-label fw-bold">Response</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div style="width:100%;height:300px;border:1px solid #ced4da">
            <ngx-monaco-editor style="height:100%" name="response" [options]="{theme: 'vs-light', language: 'json', readOnly: true}" [(ngModel)]="entity.response"></ngx-monaco-editor>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="submit()">Create</button></ng-container>
  <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="submit()">Update</button></ng-container>
  <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="submit()">Delete</button></ng-container>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
