
<div class="modal-header">
  <h4 class="modal-title">
    <ng-container>Create</ng-container>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  @if (error) {
    <div class="alert alert-danger">{{ error }}</div>
  }
  @if (instance) {
    <form>
      <div class="mb-3 row">
        <label for="url" class="col-lg-2 col-form-label fw-bold">Url</label>
        <div class="col-lg-10">
          <div class="input-group">
            <input type="url" id="url" name="url" [(ngModel)]="instance.url" class="form-control">
            <button class="btn btn-outline-secondary" type="button" [ngbPopover]="urlHelp"><i class="bi bi-question"></i></button>
            <ng-template #urlHelp>Url of the Fusio instance</ng-template>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="username" class="col-lg-2 col-form-label fw-bold">Username</label>
        <div class="col-lg-10">
          <div class="input-group">
            <input type="text" id="username" name="username" [(ngModel)]="instance.username" class="form-control">
            <button class="btn btn-outline-secondary" type="button" [ngbPopover]="usernameHelp"><i class="bi bi-question"></i></button>
            <ng-template #usernameHelp>Username of the Fusio instance</ng-template>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-lg-2 col-form-label fw-bold">Password</label>
        <div class="col-lg-10">
          <div class="input-group">
            <input type="password" id="password" name="password" [(ngModel)]="instance.password" class="form-control">
            <button class="btn btn-outline-secondary" type="button" [ngbPopover]="passwordHelp"><i class="bi bi-question"></i></button>
            <ng-template #passwordHelp>Password of the Fusio instance</ng-template>
          </div>
        </div>
      </div>
    </form>
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()">Create</button>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
