
<h1>
  <a (click)="doList()">Test</a> /
  <a (click)="doDetail(entity().id)">{{ entity().operationName }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="disabled" class="col-lg-2 col-form-label fw-bold">Disabled</label>
    <div class="col-lg-10">
      <div class="form-check form-switch">
        <input type="checkbox" id="disabled" name="disabled" [ngModel]="disabled()" (ngModelChange)="disabled.set($event)" class="form-check-input">
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="uriFragments" class="col-lg-2 col-form-label fw-bold">URI Fragments</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="uriFragments" name="uriFragments" [ngModel]="config()?.uriFragments" (ngModelChange)="updateUriFragment($event)" [disabled]="disabled()" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="uriFragmentsHelp"><i class="bi bi-question"></i></button>
        <ng-template #uriFragmentsHelp>Optional the available uri fragments i.e. <code>news_id=10&count=10</code></ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="parameters" class="col-lg-2 col-form-label fw-bold">Parameters</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="parameters" name="parameters" [ngModel]="config()?.parameters" (ngModelChange)="updateParameters($event)" [disabled]="disabled()" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="parametersHelp"><i class="bi bi-question"></i></button>
        <ng-template #parametersHelp>Optional the available parameters i.e. <code>count=10&completed=true</code></ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="headers" class="col-lg-2 col-form-label fw-bold">Headers</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="headers" name="headers" [ngModel]="config()?.headers" (ngModelChange)="updateHeaders($event)" [disabled]="disabled()" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="headersHelp"><i class="bi bi-question"></i></button>
        <ng-template #headersHelp>Optional request headers i.e. <code>Content-Type=application/json</code></ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="headers" class="col-lg-2 col-form-label fw-bold">Body</label>
    <div class="col-lg-10">
      <div class="input-group">
        <div style="width:100%;height:300px;border:1px solid #ced4da">
          <ngx-monaco-editor style="height:100%" name="body" [options]="{theme: 'vs-light', language: 'json', readOnly: disabled()}" [ngModel]="body()" (ngModelChange)="body.set($event)"></ngx-monaco-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="headers" class="col-lg-2 col-form-label fw-bold">Response</label>
    <div class="col-lg-10">
      <div class="input-group">
        <div style="width:100%;height:300px;border:1px solid #ced4da">
          <ngx-monaco-editor style="height:100%" name="response" [options]="{theme: 'vs-light', language: 'json', readOnly: true}" [ngModel]="entity().response"></ngx-monaco-editor>
        </div>
      </div>
    </div>
  </div>
  <app-form-buttons [mode]="mode" (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="doList()" (onHelp)="showHelp('development/test')"></app-form-buttons>
</form>
