
<div class="modal-header">
    <h3 class="modal-title">Detail</h3>
</div>

<div class="modal-body">
    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" heading="Log" is-open="true">
            <form name="auditDetailForm">
                <div class="form-group">
                    <label for="app">App:</label>
                    <input type="text" id="app" ng-model="audit.app.name" ng-disabled="true" class="form-control">
                </div>
                <div class="form-group">
                    <label for="user">User:</label>
                    <input type="text" id="user" ng-model="audit.user.name" ng-disabled="true" class="form-control">
                </div>
                <div class="form-group">
                    <label for="refId">Reference:</label>
                    <input type="text" id="refId" ng-model="audit.refId" ng-disabled="true" class="form-control">
                </div>
                <div class="form-group">
                    <label for="event">Event:</label>
                    <input type="text" id="event" ng-model="audit.event" ng-disabled="true" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ip">IP:</label>
                    <input type="text" id="ip" ng-model="audit.ip" ng-disabled="true" class="form-control">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <input type="text" id="message" ng-model="audit.message" ng-disabled="true" class="form-control">
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="text" id="date" ng-model="audit.date" ng-disabled="true" class="form-control">
                </div>
            </form>
        </div>
        <div uib-accordion-group class="panel-default" heading="Content" is-open="false">
            <pre class="fusio-audit-detail-content">{{audit.content | json}}</pre>
        </div>
    </uib-accordion>

    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
