
<div class="fusio-search">
  <form (submit)="doSearch(searchTerm)">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="searchTerm" placeholder="Search i.e. {{placeholder}}" />
      <button type="button" (click)="doCreateClick()" class="btn btn-primary fusio-btn-create"><i class="bi bi-plus"></i></button>
      <button *ngFor="let button of buttons" type="button" [routerLink]="button.routerLink" class="btn btn-secondary"><i class="bi {{button.icon}}"></i></button>
      <button type="button" (click)="showHelp()" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
    </div>
  </form>
</div>
