<div class="card" *ngIf="selected">
  <div class="card-header">{{selected.message}}</div>
  <div class="card-body">
    <div class="fusio-detail">
      <div class="row">
        <div class="col-lg-2 fw-bold">Message</div>
        <div class="col-lg-10">{{selected.message}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">File</div>
        <div class="col-lg-10">{{selected.file}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Line</div>
        <div class="col-lg-10">{{selected.line}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Trace</div>
        <div class="col-lg-10"><pre>{{selected.trace}}</pre></div>
      </div>
    </div>
  </div>
</div>
