
<div class="modal-header">
  <h4 class="modal-title">
    <ng-container *ngIf="mode === 1">Create</ng-container>
    <ng-container *ngIf="mode === 2">Update</ng-container>
    <ng-container *ngIf="mode === 3">Delete</ng-container>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <fusio-message [response]="response"></fusio-message>
  <form>
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="name" name="name" [(ngModel)]="entity.name" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
          <ng-template #nameHelp>Unique name of the scope</ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="description" class="col-sm-2 col-form-label fw-bold">Description</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="description" name="description" [(ngModel)]="entity.description" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="descriptionHelp"><i class="bi bi-question"></i></button>
          <ng-template #descriptionHelp>Short description of the scope</ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="description" class="col-sm-2 col-form-label fw-bold">Operations</label>
      <div class="col-sm-10">
        <table class="table">
          <colgroup>
            <col style="width:80%;">
            <col style="width:20%;">
          </colgroup>
          <thead>
          <tr>
            <th>Operation</th>
            <th>Allowed</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let operation of operations">
            <td>{{operation.name}}</td>
            <td>
              <div class="form-check">
                <input type="checkbox" name="get-{{operation.id}}" [(ngModel)]="operation.allow" class="form-check-input">
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button (click)="toggleSelect()" class="btn btn-outline-secondary" type="button"><i class="bi bi-arrow-clockwise"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="submit()">Create</button></ng-container>
  <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="submit()">Update</button></ng-container>
  <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="submit()">Delete</button></ng-container>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
