
<h1>Test</h1>

<fusio-message [response]="response"></fusio-message>

<div class="btn-group" role="group">
  <button (click)="doRun()" class="btn btn-primary">Run</button>
  <button (click)="doRefresh()" class="btn btn-secondary">Refresh</button>
</div>

<br>
<br>

<table class="table table-striped">
  <colgroup>
    <col style="width:100px;">
    <col style="width:400px;">
    <col>
    <col style="width:50px;">
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th>Operation</th>
    <th>Message</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @for (test of tests; track test.id) {
    <tr>
      <td>
        @if (test.status === 1) {
          <span class="badge text-bg-secondary">Pending</span>
        }
        @if (test.status === 2) {
          <span class="badge text-bg-success">Success</span>
        }
        @if (test.status === 3) {
          <span class="badge text-bg-warning">Warning</span>
        }
        @if (test.status === 4) {
          <span class="badge text-bg-danger">Error</span>
        }
        @if (test.status === 5) {
          <span class="badge text-bg-secondary">Skipped</span>
        }
        @if (test.status === 6) {
          <span class="badge text-bg-secondary">Disabled</span>
        }
      </td>
      <td><code>{{test.operationName}}</code></td>
      <td>{{test.message}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary" (click)="openUpdateDialog(test)"><i class="bi bi-gear"></i></button>
          <button class="btn btn-secondary" [routerLink]="['/operation/', '~' + test.operationName]"><i class="bi bi-router"></i></button>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>
