
<form *ngIf="entity">
  <h1>
    <ng-container *ngIf="mode === 1">Create</ng-container>
    <ng-container *ngIf="mode === 2">Update</ng-container>
    <ng-container *ngIf="mode === 3">Delete</ng-container>
  </h1>
  <fusio-message [response]="response"></fusio-message>
  <div class="mb-3 row" *ngFor="let column of table?.columns">
    <ng-container *ngIf="column.name">
      <label [for]="column.name" class="col-sm-2 col-form-label fw-bold">{{ column.name }}</label>
      <div class="col-sm-10">
        <div class="input-group">
          <ng-container [ngSwitch]="column.type">
            <ng-container *ngSwitchCase="'smallint'">
              <input type="number" [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control">
            </ng-container>
            <ng-container *ngSwitchCase="'integer'">
              <input type="number" [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control">
            </ng-container>
            <ng-container *ngSwitchCase="'boolean'">
              <select [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [required]="column.notNull || false" class="form-select">
                <option [ngValue]="1">True</option>
                <option [ngValue]="0">False</option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'text'">
              <textarea [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'json'">
              <textarea [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              <input type="date" [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control">
            </ng-container>
            <ng-container *ngSwitchCase="'datetime'">
              <input type="datetime-local" [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control">
            </ng-container>
            <ng-container *ngSwitchCase="'time'">
              <input type="time" [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control">
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input type="text" [name]="column.name" [(ngModel)]="entity[column.name]" [disabled]="mode === 3" [placeholder]="entity[column.name] === null ? 'NULL' : ''" [required]="column.notNull || false" class="form-control">
            </ng-container>
          </ng-container>
          <button (click)="entity[column.name] = null" class="btn btn-secondary"><i class="bi bi-x"></i></button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="btn-group" role="group">
    <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="doCreate(entity)">Create</button></ng-container>
    <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="doUpdate(entity)">Update</button></ng-container>
    <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="doDelete(entity)">Delete</button></ng-container>
    <button type="button" (click)="router.navigate(getListLink())" class="btn btn-light fusio-btn-back">Back</button>
  </div>
</form>
