
<h1>
  <a [routerLink]="getListLink()">Config</a> /
  <a [routerLink]="getDetailLink('~' + entity?.name)">{{ entity?.name }}</a> /
  <ng-container *ngIf="mode === 1">Create</ng-container>
  <ng-container *ngIf="mode === 2">Update</ng-container>
  <ng-container *ngIf="mode === 3">Delete</ng-container>
</h1>

<fusio-message [response]="response"></fusio-message>

<form *ngIf="entity">
  <div class="mb-3 row">
    <label for="value" class="col-lg-2 col-form-label fw-bold">Value</label>
    <div class="col-lg-10">
      <ng-container [ngSwitch]="entity.type">
        <div class="input-group" *ngSwitchCase="1">
          <input type="text" name="value" [(ngModel)]="entity.value" class="form-control">
        </div>
        <div class="form-check form-switch" *ngSwitchCase="2">
          <input type="checkbox" name="value" [(ngModel)]="entity.value" class="form-check-input">
        </div>
        <div class="input-group" *ngSwitchCase="3">
          <input type="number" name="value" [(ngModel)]="entity.value" class="form-control">
        </div>
        <div class="input-group" *ngSwitchCase="4">
          <input type="datetime-local" name="value" [(ngModel)]="entity.value" class="form-control">
        </div>
        <div class="input-group" *ngSwitchCase="5">
          <input type="email" name="value" [(ngModel)]="entity.value" class="form-control">
        </div>
        <div class="input-group" *ngSwitchCase="6">
          <textarea name="value" [(ngModel)]="entity.value" rows="16" class="form-control"></textarea>
        </div>
        <div class="input-group" *ngSwitchCase="7">
          <input type="password" name="value" [(ngModel)]="entity.value" class="form-control">
        </div>
      </ng-container>
    </div>
  </div>
  <div class="btn-group" role="group">
    <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="doCreate(entity)">Create</button></ng-container>
    <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="doUpdate(entity)">Update</button></ng-container>
    <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="doDelete(entity)">Delete</button></ng-container>
  </div>
</form>
