
<h1>
  <a [routerLink]="getListLink()">Config</a> /
  <a [routerLink]="getDetailLink('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="value" class="col-lg-2 col-form-label fw-bold">Value</label>
    <div class="col-lg-10">
      @if (entity().type === 1) {
        <div class="input-group">
          <input type="text" name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" class="form-control">
        </div>
      }
      @if (entity().type === 2) {
        <div class="form-check form-switch">
          <input type="checkbox" name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" class="form-check-input">
        </div>
      }
      @if (entity().type === 3) {
        <div class="input-group">
          <input type="number" name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" class="form-control">
        </div>
      }
      @if (entity().type === 4) {
        <div class="input-group">
          <input type="datetime-local" name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" class="form-control">
        </div>
      }
      @if (entity().type === 5) {
        <div class="input-group">
          <input type="email" name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" class="form-control">
        </div>
      }
      @if (entity().type === 6) {
        <div class="input-group">
          <textarea name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" rows="16" class="form-control"></textarea>
        </div>
      }
      @if (entity().type === 7) {
        <div class="input-group">
          <input type="password" name="value" [ngModel]="entity().value" (ngModelChange)="set(entity, 'value', $event)" class="form-control">
        </div>
      }
    </div>
  </div>
  <app-form-buttons (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="router.navigate(getListLink())" (onHelp)="showHelp('system/config')"></app-form-buttons>
</form>
