
<h1>
  <a [routerLink]="getListLink()">Webhook</a> /
  {{selected()?.name}}
</h1>

<fusio-message [response]="response()"></fusio-message>

@if (selected(); as selected) {
  <div class="btn-group" role="group">
    <a [routerLink]="getEditLink(selected.id)" class="btn btn-primary fusio-btn-update">Update</a>
    <a [routerLink]="getDeleteLink(selected.id)" class="btn btn-danger fusio-btn-delete">Delete</a>
  </div>
  <div class="float-end">
    <button type="button" (click)="jsonView = !jsonView" class="btn btn-outline-secondary fusio-btn-json">JSON</button>
  </div>
  @if (!jsonView) {
    <div class="fusio-detail">
      <div class="row">
        <div class="col-lg-2 fw-bold">Name</div>
        <div class="col-lg-10">{{selected.name}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Endpoint</div>
        <div class="col-lg-10">{{selected.endpoint}}</div>
      </div>
      <div class="card" style="margin-top:1rem;">
        <div class="card-header">Responses</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Status</th>
              <th>Code</th>
              <th>Attempts</th>
              <th>Execute-Date</th>
            </tr>
            </thead>
            <tbody>
            @for (response of selected.responses; track response.id) {
              <tr>
                <td>
                  @if (response.status === 1) {
                    <span class="badge bg-info">Pending</span>
                  }
                  @if (response.status === 2) {
                    <span class="badge bg-success">Done</span>
                  }
                  @if (response.status === 3) {
                    <span class="badge bg-secondary">Exceeded</span>
                  }
                </td>
                <td>{{response.code}}</td>
                <td>{{response.attempts}}</td>
                <td>{{response.executeDate|date:'short'}}</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }
  @if (jsonView) {
    <div class="fusio-json">
      <div style="height:600px;" class="mt-3">
        <ngx-monaco-editor style="height:100%" name="json" [options]="{theme: 'vs-light', language: 'json'}" [ngModel]="selected|json"></ngx-monaco-editor>
      </div>
    </div>
  }
}
