
<h1>Trash</h1>

<div class="fusio-search">
    <form name="trashSearchForm" ng-submit="doSearch(search)">
        <div class="row">
            <div class="col-md-2">
                <select id="type" class="form-control" ng-model="type" ng-options="type as type for type in types" ng-change="load()" aria-describedby="parametersHelp">
                </select>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search i.e. action-name" />
                    <div class="input-group-btn">
                        <a class="btn btn-default" ng-click="help.showDialog('system/trash')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div uib-alert class="alert-success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</div>

<div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</div>

<div class="fusio-grid">
    <table class="table">
    <colgroup>
        <col width="*" />
        <col width="100" />
    </colgroup>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in entries">
        <td>{{entry.name}}</td>
        <td>
            <div class="fusio-options">
                <a ng-click="restore(entry)" class="btn btn-primary fusio-btn-restore"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<ul uib-pagination total-items="totalResults" items-per-page="16" ng-model="startIndex" ng-change="pageChanged()" max-size="10"></ul>
