
@for (row of result(); track row.name) {
  <div class="row mb-3">
    <div class="col-3">
      <input type="text" placeholder="" [id]="name() + '_name_' + row.name" [name]="name() + '_name_' + row.name" [ngModel]="row.name" (ngModelChange)="setName($index, $event);changeValue()" [disabled]="disabled()" class="form-control">
    </div>
    <div class="col-3">
      <select [id]="name() + '_type_' + row.name" [name]="name() + '_type_' + row.name" [ngModel]="row.type" (ngModelChange)="setType($index, $event)" [disabled]="disabled()" class="form-select">
        @for (type of types; track $index) {
          <option [ngValue]="type.key">{{type.value}}</option>
        }
      </select>
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" [id]="name() + '_description_' + row.name" [name]="name() + '_description_' + row.name" [(ngModel)]="row.description" (ngModelChange)="setDescription($index, $event);changeValue()" [disabled]="disabled()" class="form-control">
        <button class="btn btn-outline-secondary" (click)="remove(row.name); changeValue()"><i class="bi bi-x"></i></button>
      </div>
    </div>
  </div>
}

<div class="row">
  <div class="col-3">
    <input type="text" [id]="name() + '_name'" [name]="name() + '_name'" [ngModel]="newName()" (ngModelChange)="newName.set($event);changeValue()" [disabled]="disabled()" class="form-control">
  </div>
  <div class="col-3">
    <select [id]="name() + '_type'" [name]="name() + '_type'" [ngModel]="newType()" (ngModelChange)="newType.set($event)" [disabled]="disabled()" class="form-select">
      @for (type of types; track type.key) {
        <option [ngValue]="type.key">{{type.value}}</option>
      }
    </select>
  </div>
  <div class="col-6">
    <div class="input-group">
      <input type="text" [id]="name() + '_description'" [name]="name() + '_description'" [ngModel]="newDescription()" (ngModelChange)="newDescription.set($event);changeValue()" [disabled]="disabled()" class="form-control">
      <button class="btn btn-outline-secondary" (click)="add();changeValue()"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>
