
<h1>
  <a (click)="doList()">Identity</a> /
  <a (click)="doDetail('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="role" class="col-lg-2 col-form-label fw-bold">Role</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete name="role" [service]="role" [data]="entity().roleId" (dataChangeId)="set(entity, 'roleId', $event)" [disabled]="mode === 3"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="app" class="col-lg-2 col-form-label fw-bold">App</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete name="app" [service]="app" [data]="entity().appId" (dataChangeId)="set(entity, 'appId', $event)" [disabled]="mode === 3"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-lg-2 col-form-label fw-bold">Name</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [ngModel]="entity().name" (ngModelChange)="set(entity, 'name', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the identity</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="icon" class="col-lg-2 col-form-label fw-bold">Icon</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="icon" name="icon" [ngModel]="entity().icon" (ngModelChange)="set(entity, 'icon', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="iconHelp"><i class="bi bi-question"></i></button>
        <ng-template #iconHelp>Unique name of the identity</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="class" class="col-lg-2 col-form-label fw-bold">Class</label>
    <div class="col-lg-10">
      <div class="input-group">
        <select id="class" name="class" [ngModel]="entity().class" (ngModelChange)="set(entity, 'class', $event);loadConfig($event)" [disabled]="mode === 3" class="form-select">
          @for (provider of providers; track provider.class) {
            <option [ngValue]="provider.class">{{provider.name}}</option>
          }
        </select>
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="classHelp"><i class="bi bi-question"></i></button>
        <ng-template #classHelp>Action class which gets executed. Each action can provide additional configuration parameters which are loaded if a class was selected</ng-template>
      </div>
    </div>
  </div>
  @if (form) {
    <app-config [container]="form" [data]="entity().config" (dataChange)="set(entity, 'config', $event)"></app-config>
  }
  <div class="mb-3 row">
    <label for="allowCreate" class="col-lg-2 col-form-label fw-bold">Allow-Create</label>
    <div class="col-lg-10">
      <div class="form-check form-switch">
        <input type="checkbox" id="allowCreate" name="allowCreate" [ngModel]="entity().allowCreate" (ngModelChange)="set(entity, 'allowCreate', $event)" class="form-check-input">
      </div>
    </div>
  </div>
  <app-form-buttons [mode]="mode" (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="doList()" (onHelp)="showHelp('system/identity')"></app-form-buttons>
</form>
