
<div class="modal-header">
  <h4 class="modal-title">
    <ng-container *ngIf="mode === 1">Create</ng-container>
    <ng-container *ngIf="mode === 2">Update</ng-container>
    <ng-container *ngIf="mode === 3">Delete</ng-container>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <app-message [response]="response"></app-message>
  <form>
    <div class="mb-3 row">
      <label for="status" class="col-sm-2 col-form-label fw-bold">Status</label>
      <div class="col-sm-10">
        <div class="input-group">
          <select id="status" name="status" [(ngModel)]="entity.status" class="form-select">
            <option *ngFor="let status of status" [ngValue]="status.key">{{status.value}}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="statusHelp"><i class="bi bi-question"></i></button>
          <ng-template #statusHelp>The status of the user</ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="role" class="col-sm-2 col-form-label fw-bold">Role</label>
      <div class="col-sm-10">
        <div class="input-group">
          <select id="role" name="role" [(ngModel)]="entity.roleId" class="form-select">
            <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="roleHelp"><i class="bi bi-question"></i></button>
          <ng-template #roleHelp>Role for this user</ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="name" name="name" [(ngModel)]="entity.name" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
          <ng-template #nameHelp>Unique name of the user</ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label fw-bold">Email</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="email" id="email" name="email" [(ngModel)]="entity.email" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="emailHelp"><i class="bi bi-question"></i></button>
          <ng-template #emailHelp>Unique email assigned to the user</ng-template>
        </div>
      </div>
    </div>
    <div class="mb-3 row" *ngIf="mode === 1">
      <label for="password" class="col-sm-2 col-form-label fw-bold">Password</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="password" id="password" name="password" [(ngModel)]="entity.password" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="passwordHelp"><i class="bi bi-question"></i></button>
          <ng-template #passwordHelp>Password for this user</ng-template>
        </div>
      </div>
    </div>
    <app-scope-categories *ngIf="mode === 2" [scopes]="entity.scopes" (dataChange)="entity.scopes = $event"></app-scope-categories>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="submit()">Create</button></ng-container>
  <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="submit()">Update</button></ng-container>
  <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="submit()">Delete</button></ng-container>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
