
<h1>App</h1>

<app-message [response]="response"></app-message>

<div class="fusio-search">
  <form (submit)="doSearch()">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search i.e. app-name" />
      <button type="button" (click)="openCreateDialog()" class="btn btn-primary fusio-btn-create"><i class="bi bi-plus"></i></button>
      <button type="button" (click)="showHelp('consumer/app')" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">App</div>
      <div class="card-body">
        <div class="fusio-sub-navigation">
          <ul>
            <li *ngFor="let row of entries">
              <a routerLink="/app/{{row.id}}" [queryParams]="this.getQueryParams()" title="{{row.name}}">
                <b *ngIf="selected?.id === row.id">{{row.name}}</b>
                <span *ngIf="selected?.id !== row.id">{{row.name}}</span>
              </a>
            </li>
          </ul>
        </div>
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="totalResults"
          (pageChange)="doSearch()"></ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">{{selected?.name}}</div>
      <div class="card-body">
        <div class="btn-group" role="group">
          <button type="button" (click)="openUpdateDialog()" class="btn btn-primary fusio-btn-update">Update</button>
          <button type="button" (click)="openDeleteDialog()" class="btn btn-danger fusio-btn-delete">Delete</button>
        </div>
        <div class="fusio-detail">
          <div class="row">
            <div class="col-2 fw-bold">Status</div>
            <div class="col-10">
              <span *ngIf="selected?.status === 1" class="badge bg-success">Active</span>
              <span *ngIf="selected?.status === 2" class="badge bg-success">Pending</span>
              <span *ngIf="selected?.status === 3" class="badge bg-success">Deactivated</span>
              <span *ngIf="selected?.status === 4" class="badge bg-success">Deleted</span>
            </div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Name</div>
            <div class="col-10">{{selected?.name}}</div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Url</div>
            <div class="col-10">{{selected?.url}}</div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">App-Key</div>
            <div class="col-10">{{selected?.appKey}}</div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Scopes</div>
            <div class="col-10"><app-scope-values [scopes]="selected?.scopes"></app-scope-values></div>
          </div>
          <div class="row">
            <div class="col-2 fw-bold">Date</div>
            <div class="col-10">{{selected?.date|date:'short'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
