<div class="card" *ngIf="selected">
  <div class="card-header">{{selected.name}}</div>
  <div class="card-body">
    <div class="btn-group" role="group">
      <button type="button" (click)="doUpdateClick()" class="btn btn-primary fusio-btn-update">Update</button>
      <button type="button" (click)="doDeleteClick()" class="btn btn-danger fusio-btn-delete">Delete</button>
    </div>
    <div class="fusio-detail">
      <div class="row">
        <div class="col-lg-2 fw-bold">Name</div>
        <div class="col-lg-10">{{selected.name}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Rate-Limit</div>
        <div class="col-lg-10">{{selected.rateLimit}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Timespan</div>
        <div class="col-lg-10">{{selected.timespan}}</div>
      </div>
    </div>
  </div>
</div>
