
<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-3 row">
    <label for="from" class="col-sm-2 col-form-label fw-bold">From/To</label>
    <div class="col-sm-5">
      <input type="date" id="from" name="from" [(ngModel)]="filter.from" class="form-control">
    </div>
    <div class="col-sm-5">
      <input type="date" id="to" name="to" [(ngModel)]="filter.to" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="route" class="col-sm-2 col-form-label fw-bold">Route</label>
    <div class="col-sm-10">
      <select id="route" name="route" [(ngModel)]="filter.routeId" class="form-select">
        <option [ngValue]="undefined">Every route</option>
        <option *ngFor="let route of routes" [ngValue]="route.id">{{route.path}}</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="app" class="col-sm-2 col-form-label fw-bold">App</label>
    <div class="col-sm-10">
      <select id="app" name="app" [(ngModel)]="filter.appId" class="form-select">
        <option [ngValue]="undefined">Every app</option>
        <option *ngFor="let app of apps" [ngValue]="app.id">{{app.name}}</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="user" class="col-sm-2 col-form-label fw-bold">User</label>
    <div class="col-sm-10">
      <select id="user" name="user" [(ngModel)]="filter.userId" class="form-select">
        <option [ngValue]="undefined">Every user</option>
        <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="ip" class="col-sm-2 col-form-label fw-bold">IP</label>
    <div class="col-sm-10">
      <input type="text" id="ip" name="ip" [(ngModel)]="filter.ip" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="userAgent" class="col-sm-2 col-form-label fw-bold">User-Agent</label>
    <div class="col-sm-10">
      <input type="text" id="userAgent" name="userAgent" [(ngModel)]="filter.userAgent" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="method" class="col-sm-2 col-form-label fw-bold">Method</label>
    <div class="col-sm-10">
      <input type="text" id="method" name="method" [(ngModel)]="filter.method" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="path" class="col-sm-2 col-form-label fw-bold">Path</label>
    <div class="col-sm-10">
      <input type="text" id="path" name="path" [(ngModel)]="filter.path" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="header" class="col-sm-2 col-form-label fw-bold">Header</label>
    <div class="col-sm-10">
      <input type="text" id="header" name="header" [(ngModel)]="filter.header" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="body" class="col-sm-2 col-form-label fw-bold">Body</label>
    <div class="col-sm-10">
      <input type="text" id="body" name="body" [(ngModel)]="filter.body" class="form-control">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="doSubmit()">Filter</button>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
