
<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-3 row">
    <label for="from" class="col-lg-2 col-form-label fw-bold">From/To</label>
    <div class="col-lg-5">
      <input type="date" id="from" name="from" [ngModel]="result()[0]" (ngModelChange)="set(0, $event)" class="form-control">
    </div>
    <div class="col-lg-5">
      <input type="date" id="to" name="to" [ngModel]="result()[1]" (ngModelChange)="set(1, $event)" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="operation" class="col-lg-2 col-form-label fw-bold">Operation</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete name="operation" [service]="operation" [data]="result()[2]" (dataChangeId)="set(2, $event)"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="app" class="col-lg-2 col-form-label fw-bold">App</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete name="app" [service]="app" [data]="result()[3]" (dataChangeId)="set(3, $event)"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="user" class="col-lg-2 col-form-label fw-bold">User</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete name="user" [service]="user" [data]="result()[4]" (dataChangeId)="set(4, $event)"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="ip" class="col-lg-2 col-form-label fw-bold">IP</label>
    <div class="col-lg-10">
      <input type="text" id="ip" name="ip" [ngModel]="result()[5]" (ngModelChange)="set(5, $event)" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="userAgent" class="col-lg-2 col-form-label fw-bold">User-Agent</label>
    <div class="col-lg-10">
      <input type="text" id="userAgent" name="userAgent" [ngModel]="result()[6]" (ngModelChange)="set(6, $event)" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="method" class="col-lg-2 col-form-label fw-bold">Method</label>
    <div class="col-lg-10">
      <input type="text" id="method" name="method" [ngModel]="result()[7]" (ngModelChange)="set(7, $event)" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="path" class="col-lg-2 col-form-label fw-bold">Path</label>
    <div class="col-lg-10">
      <input type="text" id="path" name="path" [ngModel]="result()[8]" (ngModelChange)="set(8, $event)" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="header" class="col-lg-2 col-form-label fw-bold">Header</label>
    <div class="col-lg-10">
      <input type="text" id="header" name="header" [ngModel]="result()[9]" (ngModelChange)="set(9, $event)" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="body" class="col-lg-2 col-form-label fw-bold">Body</label>
    <div class="col-lg-10">
      <input type="text" id="body" name="body" [ngModel]="result()[10]" (ngModelChange)="set(10, $event)" class="form-control">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="doSubmit()">Filter</button>
  <button type="button" class="btn btn-light" (click)="doReset()">Reset</button>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
