
<h1>SDK</h1>

@for (type of types | keyvalue; track type.key) {
  <div class="card float-start" style="width:14rem;margin-right:1rem;margin-bottom:1rem">
    <h5 class="card-header">{{type.key}}</h5>
    <img src="../../../../../public/assets/sdk/{{type.key}}.png" class="card-img-top" style="padding:16px;">
    <div class="card-body">
      <div class="btn-group" role="group">
        @if (type.value) {
          <a [href]="type.value" class="btn btn-primary">Download</a>
        }
        <a [routerLink]="['/sdk/generator/', type.key]" class="btn btn-secondary">Generate</a>
      </div>
    </div>
  </div>
}
