
<h1>SDK</h1>

<fusio-message [response]="response()"></fusio-message>

@for (type of types() | keyvalue; track type.key) {
  <div class="card float-start" style="width:12rem;margin-right:1rem;margin-bottom:1rem;">
    <div class="card-header font-monospace text-nowrap overflow-hidden">{{type.key}}</div>
    @if (type.key.startsWith('model-jsonschema')) {
      <img src="./assets/sdk/model-jsonschema.png" class="card-img-top" style="padding:16px;">
    }
    @else {
      <img src="./assets/sdk/{{type.key}}.png" class="card-img-top" style="padding:16px;">
    }
    <div class="card-body">
      <div class="btn-group" role="group">
        @if (type.value) {
          <a [href]="type.value" class="btn btn-primary" title="Download"><i class="bi bi-cloud-arrow-down"></i></a>
        }
        <a [routerLink]="['/sdk/generator/', type.key]" class="btn btn-secondary" title="Generate"><i class="bi bi-arrow-clockwise"></i></a>
      </div>
    </div>
  </div>
}
