
<div class="fusio-login">
  <div class="fusio-login-panel">
    <header>
      <h1>Fusio <span>({{ version }})</span></h1>
    </header>
    <div class="fusio-login-panel-body">
      <app-message [response]="response"></app-message>
      <form (submit)="login()" novalidate>
        <div class="mb-3">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="credentials.username" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loading">Login</button>
      </form>
    </div>
  </div>
</div>
