
<div class="fusio-login">
  <div class="fusio-login-panel">
    <header class="text-center bg-light border-bottom">
      <img src="assets/fusio_64px.png" class="m-3">
    </header>
    <div class="fusio-login-panel-body">
      <app-message [response]="response"></app-message>
      <form (submit)="login()" novalidate>
        <div class="mb-3">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="credentials.username" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Login
        </button>
      </form>
    </div>
    <div class="text-end p-2 fw-light bg-light border-top">
      <span class="text-muted" style="font-size:14px;"><a href="https://www.fusio-project.org/">Fusio</a> v{{ version }}</span>
    </div>
  </div>
</div>
