
@for (property of local; track $index) {
  <div class="mb-3 row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="{{type}}" id="{{name}}-{{$index}}" name="{{name}}-{{$index}}" [ngModel]="property.value" (ngModelChange)="doChange($index, $event)" [disabled]="disabled" class="form-control">
        <button class="btn btn-danger" type="button" (click)="doRemove($index)" [disabled]="disabled"><i class="bi bi-x"></i></button>
      </div>
    </div>
  </div>
}

<div class="mb-3 row">
  <div class="col-lg-12">
    <div class="input-group">
      <input id="{{name}}-newValue" name="{{name}}-newValue" type="{{type}}" [(ngModel)]="newValue" [disabled]="disabled" class="form-control">
      <button class="btn btn-success" type="button" (click)="doAdd()" [disabled]="disabled"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>
