
<div class="mb-3 row" *ngFor="let value of data; let i = index">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="{{type}}" id="{{name}}-{{i}}" name="{{name}}-{{i}}" [ngModel]="data[i]" (ngModelChange)="onChange(i, $event)" class="form-control">
      <button class="btn btn-danger" type="button" (click)="remove(i)"><i class="bi bi-x"></i></button>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="{{type}}" [(ngModel)]="newValue" class="form-control">
      <button class="btn btn-success" type="button" (click)="add()"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>
