
<div class="mb-3 row" *ngFor="let property of local; let i = index">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="{{type}}" id="{{name}}-{{i}}" name="{{name}}-{{i}}" [ngModel]="property.value" (ngModelChange)="doChange(i, $event)" [disabled]="disabled" class="form-control">
      <button class="btn btn-danger" type="button" (click)="doRemove(i)" [disabled]="disabled"><i class="bi bi-x"></i></button>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-sm-12">
    <div class="input-group">
      <input id="{{name}}-newValue" name="{{name}}-newValue" type="{{type}}" [(ngModel)]="newValue" [disabled]="disabled" class="form-control">
      <button class="btn btn-success" type="button" (click)="doAdd()" [disabled]="disabled"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>
