
<div class="modal-header">
    <h3 class="modal-title">Changelog</h3>
</div>

<div class="modal-body">
    <div class="fusio-grid">
        <table class="table">
            <thead>
            <tr>
                <th>Schema</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="schema in changelog.schemas">
                <td>{{schema.name}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="action in changelog.actions">
                <td>{{action.name}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Routes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="route in changelog.routes">
                <td><code class="fusio-route-path">{{route.path}}</code></td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
