
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="routesCreateForm" ng-submit="create(route)">
        <div class="form-group">
            <label for="path">Path:</label>
            <input type="text" id="path" ng-model="route.path" aria-describedby="pathHelp" class="form-control">
            <span class="help-block" id="pathHelp">Path of the API endpoint i.e. <code>/acme/news</code>. It is possible 
            to use variable path fragments i.e. <code>/acme/:news</code>. Click 
            <a ng-click="help.showDialog('help/routes.md#path')">here</a> for more informations</span>
        </div>
        <uib-tabset active="indexVersion">
            <uib-tab ng-repeat="version in route.config" heading="v{{version.version}}" index="$index">
                <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control" ng-model="version.status" ng-disabled="true" ng-options="status.key as status.value for status in statuuus" aria-describedby="statusHelp">
                    </select>
                    <span class="help-block" id="statusHelp">The status of the API endpoint for this version. For more information about the impact 
                    click <a ng-click="help.showDialog('help/routes.md#status')">here</a></span>
                </div>
                <uib-tabset active="indexMethod[indexVersion]">
                    <uib-tab ng-repeat="(method, config) in version.methods" heading="{{method}}" index="$index">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="config.active" ng-disabled="version.status != 4" aria-describedby="activeHelp"> <b>Active</b></label>
                            <span class="help-block" id="activeHelp">Whether the request method is allowed</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="config.public" ng-disabled="version.status != 4" aria-describedby="publicHelp"> <b>Public</b></label>
                            <span class="help-block" id="publicHelp">Whether the endpoint can be requested without an access token</span>
                        </div>
                        <div class="form-group">
                            <label>Parameters:</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <select class="form-control" ng-model="config.parameters" ng-options="schema.id as schema.name for schema in schemas" ng-disabled="version.status != 4" aria-describedby="parametersHelp">
                                        <option value="">No schema</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <a ng-if="config.parameters > 1" ng-click="showShema(config.parameters)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                    <a ng-if="!(config.parameters > 1)" ng-disabled="true" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            <span class="help-block" id="parametersHelp">Optional a json schema which validates URI query parameters</span>
                        </div>
                        <div class="form-group">
                            <label>Request:</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <select class="form-control" ng-model="config.request" ng-options="schema.id as schema.name for schema in schemas" ng-disabled="method == 'GET' || version.status != 4" aria-describedby="requestHelp">
                                        <option value="">No schema</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <a ng-if="config.request > 1" ng-click="showShema(config.request)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                    <a ng-if="!(config.request > 1)" ng-disabled="true" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            <span class="help-block" id="requestHelp">The allowed format for incoming requests. The <code>Passthru</code> schema forwards all incoming data unfiltered to the action</span>
                        </div>
                        <div class="form-group">
                            <label>Responses:</label>
                            <div ng-repeat="(code, statusTitle) in statusCodes" class="row" style="margin-bottom:6px;" ng-if="config.responses[code]">
                                <div class="col-md-2">
                                    <div style="margin-top:8px;"><code>{{code}}</code></div>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="config.responses[code]" ng-options="schema.id as schema.name for schema in schemas" ng-disabled="version.status != 4" aria-describedby="responsesHelp">
                                        <option value="">No schema</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <a ng-if="config.responses[code] > 1" ng-click="showShema(config.responses[code])" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                    <a ng-if="!(config.responses[code] > 1)" ng-disabled="true" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <select class="form-control" ng-model="responseCode" ng-options="statusCode as statusTitle for (statusCode, statusTitle) in statusCodes">
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <a ng-click="addResponse(responseCode)" ng-disabled="config.responses[responseCode]" class="btn btn-default">Add response</a>
                                </div>
                            </div>
                            <span class="help-block" id="responsesHelp">The allowed format for outgoing responses. The <code>Passthru</code> schema forwards all outgoing data unfiltered to the client</span>
                        </div>
                        <div class="form-group">
                            <label>Action:</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <select class="form-control" ng-model="config.action" ng-options="action.id as action.name for action in actions" ng-disabled="version.status != 4" aria-describedby="actionHelp">
                                        <option value="">No action</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <a ng-if="config.action > 0" ng-click="showAction(config.action)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                    <a ng-if="!(config.action > 0)" ng-disabled="true" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            <span class="help-block" id="actionHelp">The action which receives the request and produces a response</span>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </uib-tab>
        </uib-tabset>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
