
<h1>Routes</h1>

<div class="fusio-search">
    <form name="routesSearchForm" ng-submit="doSearch(search)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search" placeholder="Search i.e. /foo/bar" />
            <div class="input-group-btn">
                <a class="btn btn-primary fusio-btn-create" ng-click="openCreateDialog()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </div>
            <div class="input-group-btn">
                <a class="btn btn-primary fusio-btn-provider" ng-click="openProviderDialog()"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></a>
            </div>
            <div class="input-group-btn">
                <a class="btn btn-default" ng-click="help.showDialog('api/routes')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
        </div>
    </form>
</div>

<div uib-alert class="alert-success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</div>

<div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</div>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Path</div>
            <div class="panel-body">
                <div class="fusio-route-navigation">
                    <ul>
                        <li ng-repeat="row in routes">
                            <a ng-href="#!/routes/{{row.id}}" title="{{row.path}}">
                                <b ng-if="route.path == row.path">{{row.path}}</b>
                                <span ng-if="route.path != row.path">{{row.path}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul uib-pager total-items="totalResults" items-per-page="16" ng-model="startIndex" ng-change="pageChanged()" max-size="10"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{{baseUrl}}{{route.path}}" class="fusio-route-path">&nbsp;{{route.path}}</a></div>
            <div class="panel-body">
                <div class="btn-group" role="group">
                    <button type="button" ng-click="openUpdateDialog(route)" class="btn btn-primary fusio-btn-update">Edit</button>
                    <button type="button" ng-click="showLogs(route)" class="btn btn-default fusio-btn-logs">Logs</button>
                    <button type="button" ng-click="openDeleteDialog(route)" class="btn btn-danger fusio-btn-delete">Delete</button>
                </div>
                <div class="pull-right fusio-route-scope">
                    <span ng-repeat="scope in route.scopes">&nbsp;<span class="label label-primary">{{scope}}</span></span>
                </div>
                <br><br>
                <uib-tabset active="indexVersion">
                    <uib-tab ng-repeat="(index, version) in route.config" index="$index" heading="v{{version.version}}">
                        <div class="pull-right">
                            <span ng-if="version.status == 4" class="label label-warning fusio-route-status">Development</span>
                            <span ng-if="version.status == 1" class="label label-success fusio-route-status">Production</span>
                            <span ng-if="version.status == 2" class="label label-info fusio-route-status">Deprecated</span>
                            <span ng-if="version.status == 3" class="label label-default fusio-route-status">Closed</span>
                        </div>
                        <uib-tabset>
                            <uib-tab ng-repeat="(method, config) in version.methods" index="$index" heading="{{method}}">
                                <div class="form-group">
                                    <label>Status:</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span ng-if="config.active" class="label label-success fusio-route-active">Active</span>
                                            <span ng-if="!config.active" class="label label-default fusio-route-active">Inactive</span>
                                            <span ng-if="config.public" class="label label-info fusio-route-public">Public</span>
                                            <span ng-if="!config.public" class="label label-info fusio-route-public">Private</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.description">
                                    <label>Description:</label>
                                    <div class="row">
                                        <div class="col-md-12 fusio-route-description">
                                            <p>{{config.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.operationId">
                                    <label>Operation-Id:</label>
                                    <div class="row">
                                        <div class="col-md-12 fusio-route-operation-id">
                                            <code>{{config.operationId}}</code>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.parameters">
                                    <label>Parameters:</label>
                                    <div class="row">
                                        <div class="col-md-10 fusio-route-parameters">
                                            {{config.parameters}}
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <a ng-if="config.parameters && version.status == 4" ng-click="showPreview(config.parameters)" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.request">
                                    <label>Request:</label>
                                    <div class="row">
                                        <div class="col-md-10 fusio-route-request">
                                            {{config.request}}
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <a ng-if="config.request && version.status == 4" ng-click="showPreview(config.request)" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.responses">
                                    <label>Responses:</label>
                                    <div ng-repeat="(code, schema) in config.responses" class="row" style="margin-bottom:6px;">
                                        <div class="col-md-2">
                                            <div style="margin-top:8px;"><code>{{code}}</code></div>
                                        </div>
                                        <div class="col-md-8 fusio-route-responses">
                                            {{schema}}
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <a ng-if="schema && version.status == 4" ng-click="showPreview(schema)" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.action">
                                    <label>Action:</label>
                                    <div class="row">
                                        <div class="col-md-10 fusio-route-action">
                                            {{config.action}}
                                        </div>
                                        <div class="col-md-2 text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="config.costs">
                                    <label>Costs:</label>
                                    {{config.costs}}
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

