
<h1>Role</h1>

<fusio-message [response]="response()"></fusio-message>

<fusio-search
  [searchTerm]="search()"
  (search)="doSearch(1, $event)"
  (newClick)="router.navigate(getNewLink())"
  placeholder="role"
  helpPath="system/role/">
</fusio-search>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width:100%">Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @for (entry of entries(); track entry.id) {
    <tr>
      <td>{{entry.name}}</td>
      <td>
        <div class="btn-group" role="group">
          <a [routerLink]="getDetailLink(entry.id)" class="btn btn-primary"><i class="bi bi-search"></i></a>
          <a [routerLink]="getEditLink(entry.id)" class="btn btn-secondary"><i class="bi bi-pen"></i></a>
          <a [routerLink]="getDeleteLink(entry.id)" class="btn btn-danger"><i class="bi bi-x"></i></a>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>
<ngb-pagination
  [page]="page()"
  [pageSize]="pageSize()"
  [collectionSize]="totalResults()"
  [maxSize]="4"
  [ellipses]="false"
  (pageChange)="doSearch($event)"></ngb-pagination>
