
<div class="row">
  <div class="col-3">
    <select [id]="name + '_scheme'" [name]="name + '_scheme'" [(ngModel)]="scheme" (ngModelChange)="changeScheme()" [disabled]="disabled" class="form-select">
      @for (scheme of schemes; track scheme.key) {
        <option [ngValue]="scheme.key">{{scheme.value}}</option>
      }
    </select>
  </div>
  <div class="col-9">
    @if (scheme === 'action') {
      <fusio-form-autocomplete [name]="name + '_value'" [service]="action" [useTilde]="true" [data]="value" (dataChange)="value = $event; changeValue()" [disabled]="disabled">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="actionHelp"><i class="bi bi-question"></i></button>
        <ng-template #actionHelp>Select a configured action which is executed on invocation of this operation. Type a name to select a fitting action. If you can not find a fitting action you can also create a new action at the action panel.</ng-template>
      </fusio-form-autocomplete>
    }
    @if (scheme === 'php+class') {
      <div class="input-group">
        <input type="text" [id]="name + '_value'" [name]="name + '_value'" [(ngModel)]="value" (ngModelChange)="changeValue()" [disabled]="disabled" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="actionHelp"><i class="bi bi-question"></i></button>
        <ng-template #actionHelp>Loads a PHP class i.e. <code>App.Action.MyAction</code> which is executed on invocation of this operation.</ng-template>
      </div>
    }
    @if (scheme === 'http') {
      <div class="input-group">
        <input type="text" [id]="name + '_value'" [name]="name + '_value'" [(ngModel)]="value" (ngModelChange)="changeValue()" [disabled]="disabled" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="actionHelp"><i class="bi bi-question"></i></button>
        <ng-template #actionHelp>Proxies the incoming request to the provided remote url.</ng-template>
      </div>
    }
    @if (scheme === 'https') {
      <div class="input-group">
        <input type="text" [id]="name + '_value'" [name]="name + '_value'" [(ngModel)]="value" (ngModelChange)="changeValue()" [disabled]="disabled" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="actionHelp"><i class="bi bi-question"></i></button>
        <ng-template #actionHelp>Proxies the incoming request to the provided remote url.</ng-template>
      </div>
    }
    @if (scheme === 'file') {
      <div class="input-group">
        <input type="text" [id]="name + '_value'" [name]="name + '_value'" [(ngModel)]="value" (ngModelChange)="changeValue()" [disabled]="disabled" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="actionHelp"><i class="bi bi-question"></i></button>
        <ng-template #actionHelp>Returns the provided file as static response.</ng-template>
      </div>
    }
  </div>
</div>
