
<h1>Firewall</h1>

<fusio-message [response]="response()"></fusio-message>

<fusio-search
  [searchTerm]="search()"
  (search)="doSearch(1, $event)"
  (newClick)="doNew()"
  placeholder="firewall"
  helpPath="system/firewall/">
</fusio-search>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width:150px">Type</th>
    <th style="width:60%">Name</th>
    <th style="width:25%">Expire</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @for (entry of entries(); track entry.id) {
    <tr>
      <td>
        @if (entry.type === 0) {
          <span class="badge text-bg-danger">Deny</span>
        }
        @if (entry.type === 1) {
          <span class="badge text-bg-success">Allow</span>
        }
      </td>
      <td>{{entry.name}}</td>
      <td>{{entry.expire|date:'short'}}</td>
      <td>
        <app-list-buttons
          (onDetail)="doDetail(entry.id)"
          (onEdit)="doEdit(entry.id)"
          (onDelete)="doDelete(entry.id)"
        >
        </app-list-buttons>
      </td>
    </tr>
  }
  </tbody>
</table>
<ngb-pagination
  [page]="page()"
  [pageSize]="pageSize()"
  [collectionSize]="totalResults()"
  [maxSize]="4"
  [ellipses]="false"
  (pageChange)="doSearch($event, search())"></ngb-pagination>
