
<h1>
  <a (click)="doList()">Taxonomy</a> /
  <a (click)="doDetail('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="name" class="col-lg-2 col-form-label fw-bold">Name</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [ngModel]="entity().name" (ngModelChange)="set(entity, 'name', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the taxonomy</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="parent" class="col-lg-2 col-form-label fw-bold">Parent</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete [name]="'parent'" [service]="service" [useId]="true" [data]="entity().parentId" (dataChange)="set(entity, 'parentId', $event !== null ? parseInt($event) : null)" [disabled]="mode === 3">
        <button class="btn btn-outline-secondary" type="button" (click)="set(entity, 'parentId', null)"><i class="bi bi-trash"></i></button>
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="parentHelp"><i class="bi bi-question"></i></button>
        <ng-template #parentHelp>Select a parent taxonomy</ng-template>
      </fusio-form-autocomplete>
    </div>
  </div>
  <app-form-buttons [mode]="mode" (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="doList()" (onHelp)="showHelp('system/category')"></app-form-buttons>
</form>
