
.fusio-sidebar
{
  min-height:600px;
}

.fusio-sidebar ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

.fusio-sidebar li
{
  margin:0;
  padding:0;
}

.fusio-sidebar a
{
  font-family:monospace;
  font-size: 14px;
  cursor:pointer;
  padding:8px 0;
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-decoration:none;
}

.fusio-sidebar a:hover
{
  background-color:#eee;
}
