
<div class="modal-header">
    <h3 class="modal-title">Detail</h3>
</div>

<div class="modal-body">
    <form name="transactionDetailForm">
        <div class="form-group">
            <label for="provider">Provider:</label>
            <input type="text" id="provider" ng-model="transaction.provider" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="transactionId">Transaction-Id:</label>
            <input type="text" id="transactionId" ng-model="transaction.transactionId" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" ng-model="transaction.amount" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="text" id="date" ng-model="transaction.insertDate" ng-disabled="true" class="form-control">
        </div>
    </form>

    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
