
<h1>Log</h1>

<div class="fusio-search">
    <form name="logsSearchForm" ng-submit="doFilter(filter)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="filter.search" placeholder="Search i.e. paypal" />
            <div class="input-group-btn">
                <a class="btn btn-primary fusio-btn-filter" ng-click="openFilterDialog()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a>
            </div>
        </div>
    </form>
</div>

<div class="fusio-grid">
    <table class="table">
    <colgroup>
        <col width="*" />
        <col width="150" />
        <col width="150" />
        <col width="50" />
    </colgroup>
    <thead>
    <tr>
        <th>Transaction-Id</th>
        <th>Amount</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="transaction in transactions">
        <td>{{transaction.transactionId}}</td>
        <td>{{transaction.amount | currency : symbol : 2}}</td>
        <td>{{transaction.insertDate | date: 'short'}}</td>
        <td>
            <div class="fusio-options">
                <a ng-click="openDetailDialog(transaction)" class="btn btn-default fusio-btn-detail"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<ul uib-pagination total-items="totalResults" items-per-page="16" ng-model="startIndex" ng-change="pageChanged()" max-size="10"></ul>
