
<h1>Token</h1>

<div class="fusio-search">
    <form name="tokenSearchForm" ng-submit="doFilter(filter)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="filter.search" placeholder="Search i.e. scope" />
            <div class="input-group-btn">
                <a class="btn btn-primary fusio-btn-filter" ng-click="openFilterDialog()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a>
            </div>
        </div>
    </form>
</div>

<div uib-alert class="alert-success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</div>

<div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</div>

<div class="fusio-grid">
    <table class="table">
    <colgroup>
        <col width="100" />
        <col width="*" />
        <col width="150" />
        <col width="200" />
        <col width="50" />
    </colgroup>
    <thead>
    <tr>
        <th>Status</th>
        <th>Scope</th>
        <th>IP</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="token in tokens">
        <td>
            <span ng-switch="token.status">
                <span ng-switch-when="2"><span class="label label-danger fusio-badge">Deleted</span></span>
                <span ng-switch-when="1"><span class="label label-success fusio-badge">Active</span></span>
            </span>
        </td>
        <td><span ng-repeat="scope in token.scope.slice(0, 2)" class="label label-primary fusio-badge">{{scope}}</span> <span ng-if="token.scope.length > 2">(+{{ token.scope.length - 2 }} scopes)</span></td>
        <td>{{token.ip}}</td>
        <td>{{token.date | date: 'short'}}</td>
        <td>
            <div class="fusio-options">
                <a ng-click="openDetailDialog(token)" class="btn btn-default fusio-btn-detail"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <a ng-click="removeToken(token)" ng-disabled="token.status == 2" class="btn btn-default fusio-btn-remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<ul uib-pagination total-items="totalResults" items-per-page="16" ng-model="startIndex" ng-change="pageChanged()" max-size="10"></ul>
