
<h1>
  <a [routerLink]="['/', 'marketplace', type]">Marketplace</a> /
  {{entity?.author?.name}} /
  {{entity?.name}} /
  Detail
</h1>

<fusio-message [response]="response"></fusio-message>

@if (entity) {
  <div class="btn-group" role="group">
    <button type="button" (click)="doInstall()" class="btn btn-primary fusio-btn-install">Install</button>
    <button type="button" (click)="doUpgrade()" class="btn btn-secondary fusio-btn-upgrade">Upgrade</button>
  </div>
  <div class="fusio-detail">
    <div class="row">
      <div class="col-2 fw-bold">Name</div>
      <div class="col-10">{{entity.name}}</div>
    </div>
    <div class="row">
      <div class="col-2 fw-bold">Author</div>
      <div class="col-10">{{entity.author?.name}} @if (entity.author?.verified) {<i class="bi bi-patch-check-fill text-primary"></i>}</div>
    </div>
    <div class="row">
      <div class="col-2 fw-bold">Version</div>
      <div class="col-10">{{entity.version}}</div>
    </div>
    <div class="row">
      <div class="col-2 fw-bold">Icon</div>
      <div class="col-10"><i class="bi bi-{{entity.icon}}"></i></div>
    </div>
    <div class="row">
      <div class="col-2 fw-bold">Summary</div>
      <div class="col-10">{{entity.summary}}</div>
    </div>
    <div class="row">
      <div class="col-2 fw-bold">Description</div>
      <div class="col-10">
        <markdown [data]="entity.description"></markdown>
      </div>
    </div>
    <div class="row">
      <div class="col-2 fw-bold">Costs</div>
      <div class="col-10">{{entity.cost}}</div>
    </div>
  </div>
}
