
<h1>SDK</h1>

<div uib-alert class="alert-success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</div>

<div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</div>

<div class="fusio-grid">
    <table class="table">
        <colgroup>
            <col width="*" />
            <col width="200" />
        </colgroup>
        <thead>
        <tr>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(type, url) in types">
            <td>{{ type }}</td>
            <td>
                <div class="fusio-options">
                    <a ng-if="url" ng-click="download(url)" class="btn btn-default fusio-btn-url"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                    <a ng-click="generate(type)" class="btn btn-primary fusio-btn-generate"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
