
<div class="input-group">
  <input
    type="text"
    [id]="name + '_value'"
    [name]="name + '_value'"
    class="form-control"
    [(ngModel)]="selected"
    [ngbTypeahead]="objectSearch"
    (focus)="focus$.next($any($event).target.value)"
    [inputFormatter]="objectFormatter"
    [resultFormatter]="objectFormatter"
    [editable]="false"
    (ngModelChange)="changeValue()"
    [disabled]="disabled"
  />
  <button class="btn btn-outline-secondary" type="button" disabled *ngIf="searching">
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">Loading...</span>
  </button>
  <button class="btn btn-outline-secondary" type="button" [ngbPopover]="userHelp"><i class="bi bi-question"></i></button>
  <ng-template #userHelp>Select a user by typing a name.</ng-template>
</div>
