
<h1>Transaction</h1>

<fusio-search
  [searchTerm]="search"
  (search)="doSearch(1, $event)"
  placeholder="transaction"
  helpPath="monetization/transaction/">
</fusio-search>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width:50%">Name</th>
    <th style="width:50%">Endpoint</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of entries">
    <td>{{entry.transactionId}}</td>
    <td>{{entry.amount}}</td>
    <td>{{entry.insertDate}}</td>
    <td>
      <div class="btn-group" role="group">
        <a [routerLink]="getDetailLink(entry.id)" class="btn btn-primary"><i class="bi bi-search"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="totalResults"
  [maxSize]="4"
  [ellipses]="false"
  (pageChange)="doSearch($event)"></ngb-pagination>
