
<h1>Token</h1>

<fusio-search
  [searchTerm]="search()"
  (search)="doSearch(1, $event)"
  placeholder="token"
  helpPath="analytics/token/">
</fusio-search>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width:90%">Name</th>
    <th style="width:10%">IP</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @for (entry of entries(); track entry.id) {
    <tr>
      <td>{{entry.name}}</td>
      <td>{{entry.ip}}</td>
      <td>
        <div class="btn-group" role="group">
          <a (click)="doDetail(entry.id)" class="btn btn-primary"><i class="bi bi-search"></i></a>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>
<ngb-pagination
  [page]="page()"
  [pageSize]="pageSize()"
  [collectionSize]="totalResults()"
  [maxSize]="4"
  [ellipses]="false"
  (pageChange)="doSearch($event, search())"></ngb-pagination>
