
<h1>Token</h1>

<app-message [response]="response"></app-message>

<div class="fusio-search">
  <form (submit)="doSearch()">
    <div class="input-group">
      <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search i.e. token" />
      <button type="button" (click)="openCreateDialog()" class="btn btn-primary fusio-btn-create"><i class="bi bi-plus"></i></button>
      <button type="button" (click)="showHelp('analytics/token')" class="btn btn-secondary fusio-btn-help"><i class="bi bi-question"></i></button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2">
    <app-sidebar
      name="token"
      nameKey="ip"
      [entries]="entries"
      [totalResults]="totalResults"
      [selected]="selected"
      [page]="page"
      [pageSize]="pageSize"
      (pageChange)="doSearch($event)"
      (entrySelect)="doSelect($event)">
    </app-sidebar>
  </div>
  <div class="col-md-10">
    <app-empty *ngIf="!selected" [loading]="loading"></app-empty>
    <app-token-detail *ngIf="selected"
      [selected]="selected">
    </app-token-detail>
  </div>
</div>
