
@if (selected(); as selected) {
  <div class="card mt-3">
    <div class="card-header">{{selected.name}}</div>
    <div class="card-body">
      <table class="table font-monospace">
        <colgroup>
          <col>
          <col style="width:20%">
          <col style="width:15%">
          <col style="width:15%">
        </colgroup>
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Length</th>
          <th>Not-Null</th>
        </tr>
        </thead>
        <tbody>
          @for (column of selected.columns; track column.name) {
            <tr>
              <td>
                @if (column.name === selected.primaryKey) {
                  <span class="fw-bold">{{column.name}}</span>
                }
                @if (column.name !== selected.primaryKey) {
                  {{column.name}}
                }
              </td>
              <td>{{column.type}}</td>
              <td>{{column.length}}</td>
              <td>{{column.notNull}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  @if (selected.indexes && selected.indexes.length > 0) {
    <div class="card mt-3">
      <div class="card-header">Indexes</div>
      <div class="card-body">
        <table class="table font-monospace">
          <colgroup>
            <col>
            <col style="width:35%">
            <col style="width:15%">
          </colgroup>
          <thead>
          <tr>
            <th>Name</th>
            <th>Columns</th>
            <th>Unique</th>
          </tr>
          </thead>
          <tbody>
            @for (index of selected.indexes; track $index) {
              <tr>
                <td>{{index.name}}</td>
                <td>{{index.columns}}</td>
                <td>{{index.unique}}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
  @if (selected.foreignKeys && selected.foreignKeys.length > 0) {
    <div class="card mt-3">
      <div class="card-header">Foreign Keys</div>
      <div class="card-body">
        <table class="table font-monospace">
          <colgroup>
            <col>
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:20%">
          </colgroup>
          <thead>
          <tr>
            <th>Name</th>
            <th>Foreign Table</th>
            <th>Local Column Names</th>
            <th>Foreign Column Names</th>
          </tr>
          </thead>
          <tbody>
            @for (foreignKey of selected.foreignKeys; track $index) {
              <tr>
                <td>{{foreignKey.name}}</td>
                @if (connectionId(); as connection) {
                  <td><a [routerLink]="['/connection', connection, 'database', foreignKey.foreignTable]">{{foreignKey.foreignTable}}</a></td>
                }
                @else {
                  <td>{{foreignKey.foreignTable}}</td>
                }
                <td>{{foreignKey.localColumnNames}}</td>
                <td>{{foreignKey.foreignColumnNames}}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
}
