
<h1>Audit</h1>

<fusio-message [response]="response"></fusio-message>

<fusio-search
  [searchTerm]="search"
  (search)="doSearch(1, $event)"
  (newClick)="openCreateDialog()"
  placeholder="audit"
  helpPath="system/audit/">
</fusio-search>

<div class="row">
  <div class="col-md-2">
    <fusio-sidebar
      name="audit"
      nameKey="event"
      [entries]="entries"
      [totalResults]="totalResults"
      [selected]="selected"
      [page]="page"
      [pageSize]="pageSize"
      (pageChange)="doSearch($event, search)"
      (entrySelect)="doSelect($event)">
    </fusio-sidebar>
  </div>
  <div class="col-md-10">
    <fusio-empty *ngIf="!selected" [loading]="loading"></fusio-empty>
    <app-audit-detail *ngIf="selected"
      [selected]="selected"
      (updateClick)="openUpdateDialog(selected)"
      (deleteClick)="openDeleteDialog(selected)">
    </app-audit-detail>
  </div>
</div>
