
<h1>Marketplace</h1>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">Action</div>
      <div class="card-body">
        <p></p>
        <a [routerLink]="['/', 'marketplace', 'action']" class="btn btn-primary">Actions</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">App</div>
      <div class="card-body">
        <p>Install apps from the global Fusio marketplace. An app is a small javascript based app which works with the
          Fusio API like the developer portal. By default all apps are installed under <code>public/apps</code>.</p>
        <a [routerLink]="['/', 'marketplace', 'app']" class="btn btn-primary">Apps</a>
      </div>
    </div>
  </div>
</div>
