
<h1>Marketplace</h1>

<fusio-message [response]="response"></fusio-message>

<ul ngbNav #nav="ngbNav" [(activeId)]="selectedType" (activeIdChange)="changeTab()" class="nav-tabs">
  <li [ngbNavItem]="'action'">
    <button ngbNavLink>Actions</button>
    <ng-template ngbNavContent>
      <fusio-search [searchTerm]="actionSearch" (search)="doSearch($event)" placeholder="action" helpPath="development/marketplace/"></fusio-search>
      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width:50px"></th>
          <th style="width:90%">Name</th>
          <th style="width:150px">Version</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        @for (action of actions; track action.id) {
          <tr>
            <td><i class="bi bi-{{ action.icon }}"></i></td>
            <td>
              @if (action.author?.verified) {
                <i class="bi bi-patch-check-fill text-primary me-1"></i>
              }
              <b>{{action.author?.name}}/{{action.name}}</b><br><small>{{action.summary}}</small>
            </td>
            <td>{{action.version}}</td>
            <td>
              <div class="btn-group" role="group">
                <a [routerLink]="['/marketplace/', selectedType, action.author?.name, action.name]" class="btn btn-primary"><i class="bi bi-search"></i></a>
              </div>
            </td>
          </tr>
        }
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="actionPage"
        [pageSize]="actionPageSize"
        [collectionSize]="actionTotalResults"
        [maxSize]="8"
        [ellipses]="true"
        (pageChange)="doPageChange($event)"></ngb-pagination>
    </ng-template>
  </li>
  <li [ngbNavItem]="'app'">
    <button ngbNavLink>Apps</button>
    <ng-template ngbNavContent>
      <fusio-search [searchTerm]="appSearch" (search)="doSearch($event)" placeholder="app" helpPath="development/marketplace/"></fusio-search>
      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width:50px"></th>
          <th style="width:90%">Name</th>
          <th style="width:150px">Version</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        @for (app of apps; track app.id) {
          <tr>
            <td><i class="bi bi-{{ app.icon }}"></i></td>
            <td>
              @if (app.author?.verified) {
                <i class="bi bi-patch-check-fill text-primary me-1"></i>
              }
              <b>{{app.author?.name}}/{{app.name}}</b><br><small>{{app.summary}}</small>
            </td>
            <td>{{app.version}}</td>
            <td>
              <div class="btn-group" role="group">
                <a [routerLink]="['/marketplace/', selectedType, app.author?.name, app.name]" class="btn btn-primary"><i class="bi bi-search"></i></a>
              </div>
            </td>
          </tr>
        }
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="appPage"
        [pageSize]="appPageSize"
        [collectionSize]="appTotalResults"
        [maxSize]="8"
        [ellipses]="true"
        (pageChange)="doPageChange($event)"></ngb-pagination>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
