
<h1>
  <a [routerLink]="getListLink()">Role</a> /
  <a [routerLink]="getDetailLink('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="name" class="col-lg-2 col-form-label fw-bold">Name</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [ngModel]="entity().name" (ngModelChange)="set(entity, 'name', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the role</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="category" class="col-lg-2 col-form-label fw-bold">Category</label>
    <div class="col-lg-10">
      <fusio-form-autocomplete name="category" [service]="category" [data]="entity().categoryId" (dataChangeId)="set(entity, 'categoryId', $event)" [disabled]="mode === 3"></fusio-form-autocomplete>
    </div>
  </div>
  <app-scope-categories [scopes]="entity().scopes" (dataChange)="set(entity, 'scopes', $event)"></app-scope-categories>
  <app-form-buttons [mode]="mode" (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="router.navigate(getListLink())" (onHelp)="showHelp('system/role')"></app-form-buttons>
</form>
