
<h1>
  <a [routerLink]="getListLink()">Page</a> /
  <a [routerLink]="getDetailLink('~' + entity().title)">{{ entity().title }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="status" class="col-lg-2 col-form-label fw-bold">Status</label>
    <div class="col-lg-10">
      <div class="input-group">
        <select id="status" name="status" [ngModel]="entity().status" (ngModelChange)="set(entity, 'status', $event)" [disabled]="mode === 3" class="form-select">
          @for (status of status; track status.key) {
            <option [ngValue]="status.key">{{status.value}}</option>
          }
        </select>
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="statusHelp"><i class="bi bi-question"></i></button>
        <ng-template #statusHelp>The status of the page</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="title" class="col-lg-2 col-form-label fw-bold">Title</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="title" name="title" [ngModel]="entity().title" (ngModelChange)="set(entity, 'title', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="titleHelp"><i class="bi bi-question"></i></button>
        <ng-template #titleHelp>Title of the page</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-lg-2 col-form-label fw-bold">Content</label>
    <div class="col-lg-10">
      <div style="height:500px;border:1px solid #ced4da">
        <ngx-monaco-editor style="height:100%" name="content" [options]="{theme: 'vs-light', language: 'html', readOnly: mode === 3}" [ngModel]="entity().content" (ngModelChange)="set(entity, 'content', $event)"></ngx-monaco-editor>
      </div>
    </div>
  </div>
  <app-form-buttons (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="router.navigate(getListLink())" (onHelp)="showHelp('consumer/page')"></app-form-buttons>
</form>
