
<h1>
  <a [routerLink]="getListLink()">Page</a> /
  <a [routerLink]="getDetailLink('~' + entity?.title)">{{ entity?.title }}</a> /
  <ng-container *ngIf="mode === 1">Create</ng-container>
  <ng-container *ngIf="mode === 2">Update</ng-container>
  <ng-container *ngIf="mode === 3">Delete</ng-container>
</h1>

<fusio-message [response]="response"></fusio-message>

<form *ngIf="entity">
  <div class="mb-3 row">
    <label for="status" class="col-sm-2 col-form-label fw-bold">Status</label>
    <div class="col-sm-10">
      <div class="input-group">
        <select id="status" name="status" [(ngModel)]="entity.status" class="form-select">
          <option *ngFor="let status of status" [ngValue]="status.key">{{status.value}}</option>
        </select>
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="statusHelp"><i class="bi bi-question"></i></button>
        <ng-template #statusHelp>The status of the page</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="title" class="col-sm-2 col-form-label fw-bold">Title</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" id="title" name="title" [(ngModel)]="entity.title" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="titleHelp"><i class="bi bi-question"></i></button>
        <ng-template #titleHelp>Title of the page</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label fw-bold">Content</label>
    <div class="col-sm-10">
      <div style="height:500px;border:1px solid #ced4da">
        <ngx-monaco-editor style="height:100%" name="content" [options]="{theme: 'vs-light', language: 'html'}" [(ngModel)]="entity.content"></ngx-monaco-editor>
      </div>
    </div>
  </div>
  <div class="btn-group" role="group">
    <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="doCreate(entity)">Create</button></ng-container>
    <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="doUpdate(entity)">Update</button></ng-container>
    <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="doDelete(entity)">Delete</button></ng-container>
  </div>
</form>
