
<h1>
  <a [routerLink]="getListLink()">Rate</a> /
  <a [routerLink]="getDetailLink('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="name" class="col-lg-2 col-form-label fw-bold">Name</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [ngModel]="entity().name" (ngModelChange)="set(entity, 'name', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the role</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="priority" class="col-lg-2 col-form-label fw-bold">Priority</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="number" id="priority" name="priority" [ngModel]="entity().priority" (ngModelChange)="set(entity, 'priority', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="priorityHelp"><i class="bi bi-question"></i></button>
        <ng-template #priorityHelp>The priority of this rate, the highest priority is executed first</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="rateLimit" class="col-lg-2 col-form-label fw-bold">Throughput</label>
    <div class="col-lg-3">
      <div class="input-group">
        <input type="number" min="1" id="rateLimit" name="rateLimit" [ngModel]="entity().rateLimit" (ngModelChange)="set(entity, 'rateLimit', $event)" [disabled]="mode === 3" class="form-control">
      </div>
    </div>
    <label for="timespanValue" class="col-form-label col-lg-2 fw-bold">requests per</label>
    <div class="col-lg-5">
      <div class="input-group">
        <input type="number" id="timespanValue" name="timespanValue" [(ngModel)]="timespan.value" [disabled]="mode === 3" class="form-control">
        <select name="timespanUnit" [(ngModel)]="timespan.unit" class="form-select">
          @for (interval of intervals; track interval.key) {
            <option [ngValue]="interval.key" [disabled]="mode === 3">{{interval.value}}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-lg-2 col-form-label fw-bold">Allocations</label>
    <div class="col-lg-10">
      <table class="table">
        <colgroup>
          <col style="width:20%;">
          <col style="width:20%;">
          <col style="width:20%;">
          <col style="width:20%;">
          <col style="width:10%;">
          <col style="width:10%;">
        </colgroup>
        <thead>
        <tr>
          <th>Operation</th>
          <th>User</th>
          <th>Plan</th>
          <th>App</th>
          <th>Auth</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        @for (allocation of entity().allocation; track $index) {
          <tr>
            <td>
              <fusio-form-autocomplete [name]="'operation_' + $index" [service]="operation" [data]="allocation.operationId" (dataChangeId)="allocation.operationId = $event" [disabled]="mode === 3"></fusio-form-autocomplete>
            </td>
            <td>
              <fusio-form-autocomplete [name]="'user_' + $index" [service]="user" [data]="allocation.userId" (dataChangeId)="allocation.userId = $event" [disabled]="mode === 3"></fusio-form-autocomplete>
            </td>
            <td>
              <fusio-form-autocomplete [name]="'plan_' + $index" [service]="plan" [data]="allocation.planId" (dataChangeId)="allocation.planId = $event" [disabled]="mode === 3"></fusio-form-autocomplete>
            </td>
            <td>
              <fusio-form-autocomplete [name]="'app_' + $index" [service]="app" [data]="allocation.appId" (dataChangeId)="allocation.appId = $event" [disabled]="mode === 3"></fusio-form-autocomplete>
            </td>
            <td>
              <div class="form-check form-switch">
                <input [name]="'authenticated_' + $index" type="checkbox" [(ngModel)]="allocation.authenticated" [disabled]="mode === 3" class="form-check-input">
              </div>
            </td>
            <td>
              <button (click)="removeAllocation($index)" [disabled]="mode === 3" class="btn btn-secondary"><i class="bi bi-x"></i></button>
            </td>
          </tr>
        }
        </tbody>
      </table>
      <button (click)="addAllocation()" [disabled]="mode === 3" class="btn btn-secondary"><i class="bi bi-plus"></i></button>
    </div>
  </div>
  <app-form-buttons (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="router.navigate(getListLink())" (onHelp)="showHelp('consumer/rate')"></app-form-buttons>
</form>
