
<div class="modal-header">
    <h3 class="modal-title">Delete</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="contractDeleteForm" ng-submit="delete(contract)">
        <input type="hidden" ng-model="contract.id" value="{{contract.id}}" />
        <div class="form-group">
            <label for="user">User:</label>
            <input type="text" id="user" ng-model="contract.user.name" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="plan">Plan:</label>
            <input type="text" id="plan" ng-model="contract.plan.name" ng-disabled="true" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary fusio-btn-save">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default fusio-btn-cancel">Cancel</button>
    </form>
</div>
