
<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-3 row">
    <label for="from" class="col-sm-2 col-form-label fw-bold">From/To</label>
    <div class="col-sm-5">
      <input type="date" id="from" name="from" [(ngModel)]="filter.from" class="form-control">
    </div>
    <div class="col-sm-5">
      <input type="date" id="to" name="to" [(ngModel)]="filter.to" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="app" class="col-sm-2 col-form-label fw-bold">App</label>
    <div class="col-sm-10">
      <fusio-form-autocomplete name="app" [service]="app" [data]="filter.appId" (dataChange)="filter.appId = $event"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="user" class="col-sm-2 col-form-label fw-bold">User</label>
    <div class="col-sm-10">
      <fusio-form-autocomplete name="user" [service]="user" [data]="filter.userId" (dataChange)="filter.userId = $event"></fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="event" class="col-sm-2 col-form-label fw-bold">Event</label>
    <div class="col-sm-10">
      <input type="text" id="event" name="event" [(ngModel)]="filter.event" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="ip" class="col-sm-2 col-form-label fw-bold">IP</label>
    <div class="col-sm-10">
      <input type="text" id="ip" name="ip" [(ngModel)]="filter.ip" class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="message" class="col-sm-2 col-form-label fw-bold">Message</label>
    <div class="col-sm-10">
      <input type="text" id="message" name="message" [(ngModel)]="filter.message" class="form-control">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="doSubmit()">Filter</button>
  <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
</div>
