
<div class="mb-3 row" *ngFor="let element of elements">
  <label [for]="element.name" class="col-sm-2 col-form-label fw-bold">{{element.title}}</label>
  <div class="col-sm-10" *ngIf="element.name">
    <ng-container [ngSwitch]="element.element">
      <div class="input-group" *ngSwitchCase="'http://fusio-project.org/ns/2015/form/input'">
        <input [ngModel]="record[element.name]" (ngModelChange)="change(element.name, $event)" [name]="element.name" [type]="element.type" class="form-control">
      </div>
      <div class="input-group" *ngSwitchCase="'http://fusio-project.org/ns/2015/form/select'">
        <select *ngIf="element?.options" [ngModel]="record[element.name]" (ngModelChange)="change(element.name, $event)" [name]="element.name" class="form-select">
          <option *ngFor="let opt of element?.options" [value]="opt.key">{{opt.value}}</option>
        </select>
      </div>
      <div class="input-group" *ngSwitchCase="'http://fusio-project.org/ns/2015/form/tag'">
        <input [ngModel]="record[element.name]" (ngModelChange)="change(element.name, $event)" [name]="element.name" type="text" class="form-control">
      </div>
      <div class="input-group" *ngSwitchCase="'http://fusio-project.org/ns/2015/form/textarea'">
        <div style="width:100%;height:500px;border:1px solid #ced4da">
          <ngx-monaco-editor [ngModel]="record[element.name]" (ngModelChange)="change(element.name, $event)" [options]="{theme: 'vs-light', language: element.type}" [name]="element.name" style="height:100%"></ngx-monaco-editor>
        </div>
      </div>
    </ng-container>
  </div>
</div>
