
<h1>Account / Change-Password</h1>

<fusio-message [response]="response"></fusio-message>

<div class="row">
  <div class="col-6">
    <form (ngSubmit)="submit()">
      <div class="mb-3 row">
        <label for="oldPassword" class="col-sm-2 col-form-label fw-bold">Old password</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="credentials.oldPassword" class="form-control">
            <button class="btn btn-outline-secondary" type="button" [ngbPopover]="oldPasswordHelp"><i class="bi bi-question"></i></button>
            <ng-template #oldPasswordHelp></ng-template>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="newPassword" class="col-sm-2 col-form-label fw-bold">New password</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="credentials.newPassword" class="form-control">
            <button class="btn btn-outline-secondary" type="button" [ngbPopover]="newPasswordHelp"><i class="bi bi-question"></i></button>
            <ng-template #newPasswordHelp></ng-template>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="verifyPassword" class="col-sm-2 col-form-label fw-bold">Verify password</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="password" id="verifyPassword" name="verifyPassword" [(ngModel)]="credentials.verifyPassword" class="form-control">
            <button class="btn btn-outline-secondary" type="button" [ngbPopover]="verifyPasswordHelp"><i class="bi bi-question"></i></button>
            <ng-template #verifyPasswordHelp></ng-template>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Change password</button>
    </form>

  </div>
</div>
