
@if (categories.hasValue()) {
  <ul ngbNav #scopeCategories="ngbNav" [(activeId)]="selectedCategory" class="nav-tabs">
    @for (category of categories.value(); track category.id) {
      <li [ngbNavItem]="category.id">
        <a ngbNavLink>{{category.name}}</a>
        <ng-template ngbNavContent>
          <div style="margin-top:1rem;">
            <button (click)="toggleScopes(category.scopes)" [disabled]="disabled()" class="btn btn-outline-secondary float-end"><i class="bi bi-arrow-clockwise"></i></button>
            <div class="row">
              @for (scope of category.scopes; track scope.id) {
                <div class="col-md-6 col-xl-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [value]="scope.id" (change)="scopeSelect($event, scope.name)" [checked]="scope.name && selected().includes(scope.name)" [id]="scope.name" [disabled]="disabled()">
                    <label class="form-check-label" [for]="scope.name">{{scope.name}}</label>
                  </div>
                </div>
              }
            </div>
          </div>
        </ng-template>
      </li>
    }
  </ul>
  <div [ngbNavOutlet]="scopeCategories" style="max-height:400px;overflow-y:auto" class="mb-3"></div>
}
