<div class="card" *ngIf="selected">
  <div class="card-header">{{selected.name}}</div>
  <div class="card-body">
    <div class="btn-group" role="group">
      <button type="button" (click)="doUpdateClick()" class="btn btn-primary fusio-btn-update">Update</button>
    </div>
    <div class="fusio-detail">
      <div class="row">
        <div class="col-lg-2 fw-bold">Type</div>
        <div class="col-lg-10">
          <span *ngIf="selected.type === 1" class="badge bg-success">String</span>
          <span *ngIf="selected.type === 2" class="badge bg-success">Boolean</span>
          <span *ngIf="selected.type === 3" class="badge bg-success">Number</span>
          <span *ngIf="selected.type === 4" class="badge bg-success">Date-Time</span>
          <span *ngIf="selected.type === 5" class="badge bg-success">Email</span>
          <span *ngIf="selected.type === 6" class="badge bg-success">Text</span>
          <span *ngIf="selected.type === 7" class="badge bg-success">Secret</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Name</div>
        <div class="col-lg-10">{{selected.name}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Description</div>
        <div class="col-lg-10">{{selected.description}}</div>
      </div>
      <div class="row">
        <div class="col-lg-2 fw-bold">Value</div>
        <div class="col-lg-10">{{selected.value}}</div>
      </div>
    </div>
  </div>
</div>
