
<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="userUpdateForm" ng-submit="update(user)">
        <input type="hidden" ng-model="user.id" value="{{user.id}}" />
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" ng-model="user.status" ng-options="status.id as status.name for status in statuuus" aria-describedby="statusHelp" class="form-control">
            </select>
            <span class="help-block" id="statusHelp">The status of the user</span>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="user.name" aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp">Name of the user must match the following regexp <code>[A-z0-9\-\_\.]{3,32}</code></span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="user.email" aria-describedby="emailHelp" class="form-control">
            <span class="help-block" id="emailHelp">Email address of the user</span>
        </div>
        <div class="form-group">
            <label for="points">Points:</label>
            <input type="number" id="points" ng-model="user.points" ng-disabled="true" aria-describedby="pointsHelp" class="form-control">
            <span class="help-block" id="pointsHelp">The amount of available points</span>
        </div>

        <uib-tabset>
            <uib-tab heading="{{ category.name }}" ng-repeat="category in categories">
                <table class="table fusio-table-tab">
                    <colgroup>
                        <col width="20" />
                        <col width="*" />
                    </colgroup>
                    <tbody>
                    <tr ng-repeat="scope in category.scopes">
                        <td><input type="checkbox" value="{{scope.name}}" id="scope-{{scope.id}}" ng-checked="selected.indexOf(scope.name) > -1" ng-change="toggleScope(scope.name)"></td>
                        <td><label for="scope-{{scope.id}}">{{scope.name}}</label></td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>

        <button type="submit" class="btn btn-primary fusio-btn-save">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default fusio-btn-cancel">Cancel</button>
    </form>
</div>
