
<div class="fusio-navigation">
  <nav>
    <h1>Fusio <span>({{ currentVersion }})</span></h1>
    <div *ngFor="let item of items">
      <a class="fusio-navigation-heading" (click)="changeNavHeading(item)" [ngClass]="{'fusio-navigation-heading-active': item.visible}">{{ item.title }}</a>
      <ul class="nav nav-pills flex-column ng-hide" [hidden]="!item.visible">
        <li *ngFor="let child of item.children" class="nav-item"><a routerLink="{{ child.path }}" class="nav-link"><i class="bi {{ child.icon }}" aria-hidden="true"></i> {{ child.title }}</a></li>
      </ul>
    </div>
  </nav>
</div>
