
<div class="fusio-navigation" [ngClass]="{'fusio-navigation-instance': hasInstance}">
  <nav>
    <h1>Fusio <span>({{ currentVersion }})</span></h1>
    @for (item of items; track $index) {
      <div>
        <a class="fusio-navigation-heading" (click)="changeNavHeading(item)" [ngClass]="{'fusio-navigation-heading-active': item.visible}">{{ item.title }}</a>
        <ul class="nav nav-pills flex-column ng-hide" [hidden]="!item.visible">
          @for (child of item.children; track $index) {
            <li class="nav-item"><a routerLink="{{ child.path }}" class="nav-link"><i class="bi {{ child.icon }}" aria-hidden="true"></i> {{ child.title }}</a></li>
          }
        </ul>
      </div>
    }
  </nav>
</div>
