
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <div uib-alert class="alert-danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <form name="subscriptionCreateForm" ng-submit="create(subscription)">
        <div class="form-group">
            <label for="event">Event:</label>
            <select id="event" ng-model="subscription.eventId" ng-options="event.id as event.name for event in events" class="form-control" aria-describedby="eventHelp"></select>
            <span class="help-block" id="eventHelp">The event type</span>
        </div>
        <div class="form-group">
            <label for="user">User:</label>
            <select id="user" ng-model="subscription.userId" ng-options="user.id as user.name for user in users" class="form-control" aria-describedby="userHelp"></select>
            <span class="help-block" id="userHelp">The assigned user of the event</span>
        </div>
        <div class="form-group">
            <label for="endpoint">Endpoint:</label>
            <input type="url" id="endpoint" ng-model="subscription.endpoint" aria-describedby="endpointHelp" class="form-control">
            <span class="help-block" id="nameHelp">Url of the endpoint which gets called</span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
