
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body
{
  background-color:#fff;
  font-family: 'Roboto', sans-serif;
}

pre
{
  padding:0px;
  margin:0px;
  border:none;
  border-radius:0px;
}

.fusio-header-profile
{
  float:right;
  margin-top:2px;
}

#userMenu,
#userMenu:hover
{
  color:#fff;
}

.fusio-navigation
{
  background-color:#021c35;
  position:fixed;
  height:100%;
  overflow-y:auto;
}

.fusio-navigation > nav
{
  width:180px;
  float:left;
  padding:0 15px;
}

@media (max-width:767px) {
  .fusio-navigation > nav
  {
    width:110px;
  }
}

.fusio-navigation > nav > h1
{
  color:#eee;
  padding:12px 15px;
  margin:0px -15px;
  border-bottom:1px solid #021c35;
  font-size:1em;
  background-color: #222;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top,#444 0,#222 100%);
  background-image: -o-linear-gradient(top,#444 0,#222 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
  background-image: linear-gradient(to bottom,#444 0,#222 100%);
}

.fusio-navigation > nav > h1 > span
{
  color:#666;
}

.fusio-navigation > nav > div > ul > li > a,
.fusio-navigation > nav > div > ul > li > a:link,
.fusio-navigation > nav > div > ul > li > a:visited,
.fusio-navigation > nav > div > ul > li > a:hover,
.fusio-navigation > nav > div > ul > li > a:active
{
  color:#fff;
  white-space:nowrap;
  padding-left:0;
  background-color:#021c35;
  margin:0 -5px;
}

.fusio-navigation > nav > div > ul > li > a:hover
{
  color:#55acee;
}

.fusio-navigation i
{
  margin-right:6px;
}

.fusio-navigation .panel
{
  background-color:#021c35;
}

.fusio-navigation-heading
{
  color:#fff;
  display:block;
  text-decoration:none;
  background-color:#054582;
  padding:6px 15px;
  margin:0 -15px;
  cursor:pointer;
  border-bottom:2px solid #021c35;
}

.fusio-navigation-heading-active
{
  background-color:#55acee;
}

.fusio-navigation-heading:hover
{
  color:#fff;
  background-color:#55acee;
}

.fusio-container
{
  margin-left:180px;
}

@media (max-width:767px) {
  .fusio-container
  {
    margin-left:110px;
  }
}

.fusio-content
{
  background-color:#fff;
}

.fusio-content > * > h1
{
  color:#eee;
  padding:12px 15px;
  margin:0 -12px;
  margin-bottom:10px;
  border-bottom:1px solid #021c35;
  font-size:1em;
  background-color: #222;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top,#444 0,#222 100%);
  background-image: -o-linear-gradient(top,#444 0,#222 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
  background-image: linear-gradient(to bottom,#444 0,#222 100%);
}

.fusio-content > div > h1 > a
{
  color:#eee;
}

.fusio-search
{
  margin-bottom:20px;
}

.fusio-search .table td
{
  border-top:none;
}

.fusio-grid
{
  border:1px solid #ccc;
}

.fusio-grid > table
{
  margin-bottom:0;
}

.fusio-grid > table > thead > tr > th
{
  font-weight:bold;
  font-size:1em;
  padding: 10px 15px;
  padding-left: 8px;
  border-bottom: 1px solid;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.fusio-grid > table > tbody > tr > td
{
  vertical-align:middle;
  height:50px;
}

.fusio-options
{
  white-space:nowrap;
  text-align:right;
}

.fusio-table-tab tbody tr:first-child td
{
  border-top:none;
}

.fusio-table-tab-token pre
{
  background-color:transparent;
}

.fusio-panel
{
  height:300px;
  overflow:hidden;
  margin-bottom:16px;
}

.fusio-login
{
  background-color:#021c35;
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index:101;
}

.fusio-login header
{
}

.fusio-login-panel
{
  background-color:#fff;
  width:400px;
  border:1px solid #fff;
  margin:0 auto;
  margin-top:32px;
}

.fusio-login-panel-body
{
  margin:8px;
}

.fusio-log-entry pre
{
  padding:6px;
  margin-bottom:8px;
}

.fusio-route-path
{
}

.fusio-detail
{
  margin:8px 0;
}

.fusio-detail > .row
{
}

.fusio-detail > .row:nth-child(even)
{
  background-color:rgba(0,0,0,.03);
}

.fusio-detail > .row > div
{
  margin:12px 0;
}

.fusio-detail > .row > div:first-child
{
  font-weight:bold;
  font-size:14px;
}

.fusio-detail .badge
{
  margin-right:4px;
}

.fusio-log-detail-header,
.fusio-log-detail-body,
.fusio-error-detail-trace,
.fusio-audit-detail-content
{
  background-color:#fff
}

.fusio-action-designer-config
{
  height:630px;
  overflow:auto;
}

.fusio-action-designer-config .ace_editor
{
}

.fusio-action-designer-request
{
  height:630px;
  overflow:auto;
}

.fusio-action-designer-request .ace_editor
{
  height:133px;
}

.fusio-action-designer-response > h4
{
  margin:0px;
  padding:8px;
}

.fusio-schema-designer-config
{
  height:630px;
  overflow:auto;
}

.fusio-schema-designer-config .ace_editor
{
  height:529px;
}

.fusio-schema-designer-preview
{
  height:630px;
  overflow:auto;
}

.fusio-sub-navigation
{
  min-height:600px;
}

.fusio-sub-navigation ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

.fusio-sub-navigation li
{
  margin:0;
  padding:0;
}

.fusio-sub-navigation a
{
  font-family:monospace;
  font-size: 14px;
  cursor:pointer;
  padding:8px 0;
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-decoration:none;
}

.fusio-sub-navigation a:hover
{
  background-color:#eee;
}

.fusio-loading-container
{
  width:38px;
  height:38px;
  overflow:hidden;
}

.ace_editor
{
  /* height:133px; 2 blocks */
  /* height:232px; 3 blocks */
  /* height:331px; 4 blocks */
  height:232px;
  border:1px solid #ccc;
}

/* psx schema */
.psx-object {
  margin:0;
  margin-bottom:8px;
  border:1px solid #ccc;
}

.psx-object > h1 {
  font-weight:bold;
  font-size:1em;
  margin:0;
  padding: 10px 15px;
  padding-left: 8px;
  border-bottom: 1px solid #ccc;
  color: #333;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.psx-object-description {
  margin:8px 0;
  padding:0 8px;
}

.psx-object-json {
  border-radius:0;
  border:0;
  margin:0;
  padding:8px;
  background-color:rgba(0,0,0,.03);
}

.psx-object-json-key {
  color:#0d904f;
}

.psx-object-json-pun {
  color:#0d904f;
}

.psx-object-properties {
  margin:8px 0;
}

.psx-property-type {
  font-family:monospace;
  font-weight:bold;
}

.psx-property-name {
  font-family:monospace;
  font-weight:bold;
}

.psx-property-description {
  margin-top:8px;
  font-size:0.9em;
}

.psx-property-constraint {
  margin-top:8px;
  font-size:0.9em;
}

.psx-property-required {
  border-bottom:1px dotted #999;
}
