
<h1>
  <a [routerLink]="getListLink()">Scope</a> /
  <a [routerLink]="getDetailLink('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="name" class="col-lg-2 col-form-label fw-bold">Name</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [ngModel]="entity().name" (ngModelChange)="set(entity, 'name', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the scope</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="description" class="col-lg-2 col-form-label fw-bold">Description</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="description" name="description" [ngModel]="entity().description" (ngModelChange)="set(entity, 'description', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="descriptionHelp"><i class="bi bi-question"></i></button>
        <ng-template #descriptionHelp>Short description of the scope</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="description" class="col-lg-2 col-form-label fw-bold">Operations</label>
    <div class="col-lg-10">
      <table class="table">
        <colgroup>
          <col style="width:80%;">
          <col style="width:20%;">
        </colgroup>
        <thead>
        <tr>
          <th>Operation</th>
          <th>Allowed</th>
        </tr>
        </thead>
        <tbody>
        @for (operation of operations; track operation.id) {
          <tr>
            <td>{{operation.name}}</td>
            <td>
              <div class="form-check">
                <input type="checkbox" name="get-{{operation.id}}" [(ngModel)]="operation.allow" [disabled]="mode === 3" class="form-check-input">
              </div>
            </td>
          </tr>
        }
        <tr>
          <td></td>
          <td>
            <button (click)="toggleSelect()" [disabled]="mode === 3" class="btn btn-outline-secondary" type="button"><i class="bi bi-arrow-clockwise"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-form-buttons (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="router.navigate(getListLink())" (onHelp)="showHelp('consumer/scope')"></app-form-buttons>
</form>
