
<h1>
  <a [routerLink]="getListLink()">Firewall</a> /
  <a [routerLink]="getDetailLink('~' + entity().name)">{{ entity().name }}</a> /
  <app-form-breadcrump [mode]="mode"></app-form-breadcrump>
</h1>

<fusio-message [response]="response()"></fusio-message>

<form>
  <div class="mb-3 row">
    <label for="name" class="col-lg-2 col-form-label fw-bold">Name</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [ngModel]="entity().name" (ngModelChange)="set(entity, 'name', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the firewall rule</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="type" class="col-lg-2 col-form-label fw-bold">Type</label>
    <div class="col-lg-10">
      <select id="type" name="type" [ngModel]="entity().type" (ngModelChange)="set(entity, 'type', $event)" [disabled]="mode === 3" class="form-select">
        <option [ngValue]="0">Deny</option>
        <option [ngValue]="1">Allow</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="ip" class="col-lg-2 col-form-label fw-bold">IP</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" id="ip" name="ip" [ngModel]="entity().ip" (ngModelChange)="set(entity, 'ip', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="ipHelp"><i class="bi bi-question"></i></button>
        <ng-template #ipHelp>IPv4 or IPv6 for this rule</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="expire" class="col-lg-2 col-form-label fw-bold">Expire</label>
    <div class="col-lg-10">
      <div class="input-group">
        <input type="datetime-local" id="expire" name="expire" [ngModel]="entity().expire" (ngModelChange)="set(entity, 'expire', $event)" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="expireHelp"><i class="bi bi-question"></i></button>
        <ng-template #expireHelp>Optional a date when the rule expires</ng-template>
      </div>
    </div>
  </div>
  <app-form-buttons (onCreate)="doCreate(entity)" (onUpdate)="doUpdate(entity)" (onDelete)="doDelete(entity)" (onBack)="router.navigate(getListLink())" (onHelp)="showHelp('system/firewall')"></app-form-buttons>
</form>
