
<ng-container [ngSwitch]="scheme">
  <ng-container *ngSwitchCase="'action'">
    <a routerLink="/action/~{{value}}">{{value}}</a>
  </ng-container>
  <ng-container *ngSwitchCase="'php+class'">
    <span>{{value}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'http'">
    <a href="http://{{value}}">{{value}}</a>
  </ng-container>
  <ng-container *ngSwitchCase="'https'">
    <a href="https://{{value}}">{{value}}</a>
  </ng-container>
  <ng-container *ngSwitchCase="'file'">
    <span>{{value}}</span>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <span>{{data}}</span>
  </ng-container>
</ng-container>
