name: Build
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - name: Run install
        run: npm ci
      - name: Run build
        run: npm run build
      - name: Replace path
        run: sed -i 's|/apps/fusio/|${BASE_PATH}/fusio/|g' dist/fusio/browser/index.html
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fusio
          include-hidden-files: true
          path: dist/fusio/browser
