name: Build
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run install
        run: npm ci
      - name: Run build
        run: ng build
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: fusio
          path: dist/fusio
