
<h1>
  <a [routerLink]="getListLink()">Form</a> /
  <a [routerLink]="getDetailLink('~' + entity?.name)">{{ entity?.name }}</a> /
  <ng-container *ngIf="mode === 1">Create</ng-container>
  <ng-container *ngIf="mode === 2">Update</ng-container>
  <ng-container *ngIf="mode === 3">Delete</ng-container>
</h1>

<fusio-message [response]="response"></fusio-message>

<form *ngIf="entity">
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" id="name" name="name" [(ngModel)]="entity.name" [disabled]="mode === 3" class="form-control">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
        <ng-template #nameHelp>Unique name of the form</ng-template>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="operation" class="col-sm-2 col-form-label fw-bold">Operation</label>
    <div class="col-sm-10">
      <fusio-form-autocomplete name="operation" [service]="operation" [data]="entity.operationId" (dataChangeId)="entity.operationId = $event" [disabled]="mode === 3">
        <button class="btn btn-outline-secondary" type="button" [ngbPopover]="operationHelp"><i class="bi bi-question"></i></button>
        <ng-template #operationHelp>Select a target operation for this form, should be a POST or PUT operation.</ng-template>
      </fusio-form-autocomplete>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label fw-bold">UI-Schema</label>
    <div class="col-sm-10">
      <div style="height:500px;border:1px solid #ced4da">
        <ngx-monaco-editor style="height:100%" name="content" [options]="{theme: 'vs-light', language: 'json', readOnly: mode === 3}" [(ngModel)]="uiSchema"></ngx-monaco-editor>
      </div>
    </div>
  </div>
  <div class="btn-group" role="group">
    <ng-container *ngIf="mode === 1"><button type="button" class="btn btn-primary" (click)="doCreate(entity)">Create</button></ng-container>
    <ng-container *ngIf="mode === 2"><button type="button" class="btn btn-primary" (click)="doUpdate(entity)">Update</button></ng-container>
    <ng-container *ngIf="mode === 3"><button type="button" class="btn btn-danger" (click)="doDelete(entity)">Delete</button></ng-container>
  </div>
</form>
