
<div class="btn-group mb-5" role="group">
  @if (mode() === 1) {
    <app-form-button type="primary" title="Create" titleLoading="Creating" (onAction)="onCreate.emit()" [loading]="loading()"></app-form-button>
  }
  @else if (mode() === 2) {
    <app-form-button type="primary" title="Update" titleLoading="Updating" (onAction)="onUpdate.emit()" [loading]="loading()"></app-form-button>
  }
  @else if (mode() === 3) {
    <app-form-button type="danger" title="Delete" titleLoading="Deleting" (onAction)="onDelete.emit()" [loading]="loading()"></app-form-button>
  }

  @if (onBack.observed) {
    <button type="button" class="btn btn-light fusio-btn-back" (click)="onBack.emit()">Back</button>
  }
  @if (onHelp.observed) {
    <button type="button" class="btn btn-light" (click)="onHelp.emit()">Help</button>
  }
</div>
